
.hide--small {
	@mixin respond-max $medium {
		display: none;
	}
}

.hide--medium {
	@mixin respond-max $large {
		display: none;
	}
}

.u-w100 { width: 100% !important; }
.bkg--white { background-color: #fff; }
.bkg--light-gray { background-color: #eee; }
.bkg--blue { background-color: $bethel--blue; }
.bkg--light-blue { background-color: #eff8ff; }
.bkg--navy { background-color: $bethel--navy; }
.bkg--yellow { background-color: $bethel--yellow; }
.bkg--light-yellow { background-color: #fffff1;}
.bkg--gradient-blue-yellow { background: linear-gradient(-150deg, $bethel--blue, 70%, $bethel--yellow); }
$bkg--gradient-blue-yellow: linear-gradient(-150deg, $bethel--blue, 70%, $bethel--yellow);
.bkg--gradient-navy-blue { background: linear-gradient(-150deg, $bethel--navy, $bethel--blue); }


.vh50 {
	@mixin respond-min $medium {
		height: 50vh;
	}
}

.vh60 {
	@mixin respond-min $medium {
		height: 60vh;
	}
}

.vh70 {
	@mixin respond-min $medium {
		height: 70vh;
	}
}

.vh100 {
	@mixin respond-min $medium {
		height:  100vh;
	}
}

.vh110 {
	@mixin respond-min $medium {
		height: 110vh;
	}
}

.u-posRel {
	position: relative;
}

.va-container {
	display: table;
	width: 100%;
	height: 100%;
}

.va-middle {
	display: table-cell;
	vertical-align: middle;
}

.va-bottom {
	display: table-cell;
	vertical-align: bottom;
}

.display-table {
	display: table;
}

.u-z0 {z-index: 0}
.u-z100 {z-index: 100;}
.u-z200 {z-index: 200;}