$small: 35em;
$medium: 35em;
$large: 52em;
$x-large: 60em;

$breakpoints: (
    "small" "(max-width: 35em)",
    "medium" "(min-width: 35em)",
    "large" "(min-width: 52em)",
    "x-large" "(min-width: 60em)"
    );

$bethel--blue: #0069aa;
$bethel--blue--rgb: 0, 105, 170;
$bethel--navy: #0f2c52;
$bethel--navy--rgb: 15, 44, 82;
$bethel--yellow: #ffc600;
$bethel--yellow--rgb: 255, 198, 0;

$gotham: "Gotham A", "Gotham B", Helvetica, Arial, sans;
$sentinel: "Sentinel A", "Sentinel B", Georgia, serif;

$baseLineHeight: 1.5;
$baseFontSize: 16px;