.site__navigation ul {
    background: #fff4cc;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 0 1em;
    margin: 2em .5em 1em;

    @include respond-min(60em){
        margin: 0;
    }
}

.site__navigation ul {
  margin-top: 0;
}

.site__navigation__top-link {

    @include respond-min(60em){
        display: none;
    }
}

.site__navigation__title {
    font-size: 140%;
    margin: 0;
    padding: .7em;
    background: #ffc600;
    font-weight: 400;
}