
.site__title {
  // padding: 1.5em 0em;
  // padding: 0;
  // text-align: center;
  // border-bottom: 1px solid $bethel--navy;
  // border-bottom: 1px solid #ddd;
  // position: sticky;
  // top: 0;
  display: flex;
  // flex-direction: row;
  overflow: hidden;
  align-items: center;
  // justify-content: space-between;
  margin: 0;
  // background: rgba($bethel--blue, .1);
  // background: rgb(229,239,246);
  // background: #fff;
  // background: rgba($bethel--yellow, .8);
  // background: #fff;
  margin-top: 1em;

  @include respond-min(46em){
    margin-top: 2em;
  }
}

.site__title h1 {
  font-size: 1rem; 
  margin-bottom: 0;
  margin-top: 0;
  color: $bethel--navy;
  font-weight: 500;
}

.site__title__button {
  // background: yellow;
  flex-shrink: 0;
  font-size: .8rem;
  // // width: 100%; 
  // margin-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 1em;
  padding: .5em 0;
  // // margin: .5em;
  // // flex: 0 0 25%;
  // white-space: nowrap;
  // display: inline-block;
  // margin-right: .5em;
  font-family: $gotham;
  font-weight: 700;
  text-transform: uppercase;
  // float:right;
  // margin-left: 7em;

  @include respond-min(46em){
    display: none;
  }
}

.site__title__button a {
  background: #ffc600;
  // // margin: 0 auto;
  padding: 1em .75em;
  // border-radius: .3em;
  // display: inline-block;
  // display: inline-block;
  // position: absolute;
  // bottom: -25%;
  // left: 0;
  // right: 0;
  // width: 12em;
  // white-space: nowrap;
  // font-weight: 500; 
}

// .site__title {
//   padding: .75em 1.5em 1.5em;
//   text-align: center;
//   border-bottom: 1px solid #ddd;
//   position: relative;
//   margin-bottom: 1em; }

//   @include respond-min(60em){
//     display: none;
//   }
// }

// .site__title h1 {
//   font-size: 1.1rem; }

// .site__title__button {
//   width: 100%; }

// .site__title__button a {
//   background: #ffc600;
//   margin: 0 auto;
//   padding: .75em 2em;
//   border-radius: 2em;
//   font-size: .8rem;
//   display: inline-block;
//   position: absolute;
//   bottom: -25%;
//   left: 0;
//   right: 0;
//   width: 12em;
//   font-weight: 500; }