{
    "presets": [
        ["minify"],
        ["env", {
            "modules": false,
            "targets": {
              "browsers": ["> 4%", "last 2 versions", "ie 11"]
            }
        }]
    ]
} 
