 // http://tympanus.net/Development/HoverEffectIdeas/
 /* Common style */

.hover-effect {
	position: relative;
	overflow: hidden;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

.hover-effect img {
	position: relative;
	display: block;
}

.hover-effect figcaption {
	padding: 7%;
	backface-visibility: hidden;

	@include respond-min($large) {
		padding: 10%;
	}
}

.hover-effect figcaption::before,
.hover-effect figcaption::after {
	pointer-events: none;
}

.hover-effect figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
	// height: 100%;
}

.hover-effect figcaption p {
	color: #fff;
	font-size: 150%;
	line-height: 1em;
	margin: 0 0 .5em;
	font-family: $gotham;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
// .hover-effect figcaption > a {
// 	z-index: 1000;
// 	text-indent: 200%;
// 	white-space: nowrap;
// 	font-size: 0;
// 	opacity: 0;
// }

.hover-effect p span {
	font-weight: 800;
}

/*---------------*/
/***** Dim Zoom *****/
/*---------------*/

.hover-dim-zoom {
	background: #0f2c52;
}

.hover-dim-zoom img {
	transition: opacity .25s, transform .25s;
	backface-visibility: hidden;
	transform: scale3d(1,1,1);
}

.hover-dim-zoom figcaption {
	text-align: left;
}

.hover-dim-zoom .title {
	position: relative;
	padding: 0.5em 0;
	line-height: 1;
	font-size: 1.25em;
}

// .hover-dim-zoom p {
// 	display: inline-block;
// 	margin: 0 0 0.25em;
// 	padding: 0.4em 1em;
// 	// background: rgba(255,255,255,0.9);
// 	color: #2f3238;
// 	text-transform: none;
// 	font-weight: 500;
// 	font-size: 75%;
// 	transition: opacity 0.35s, transform 0.35s;
// 	transform: translate3d(-360px,0,0);
// }

.hover-dim-zoom:hover img {
	opacity: 0.4;
	transform: scale3d(1.1,1.1,1);
}

.hover-dim-zoom:hover  {
	opacity: 1;
	transform: translate3d(0,0,0);
}