
.inner-wrap--global__navigation {
  position: relative;
  // width: 100%;
  // display: flex;
  // align-items: flex-start;
  // flex-wrap: wrap;
  background: #f5f5f5;
  // background: green;
  // z-index: 1;
  overflow: hidden;
}

.global__toolbox {
  // background: tomato;
  background: $bethel--navy;
  // background: $bethel--blue;
  // position: fixed;
  // margin-top: 2em;
  // margin-bottom: 2em;
  font-family: $gotham;
  // font-weight: 300;
  // right: 0;
  top: 0;
  // left: 0;
  overflow-y: auto;

  @include respond-min($navToggle){
    position: relative;
    // left: 0;
    // margin-right: 5%;
    // order: 2;
    // flex-basis:30%;
  }

  a {
    // color: #777;
  }
}


@include respond-max($navToggle){

  .no-js {
      .global__toolbox:not(:target) {
        z-index: -1;
        height: 0;
      }

      .global__toolbox:target {
        z-index: 1;
      }

      .global__toolbox:target .close-btn {
        display: block;
      }


      .global__toolbox {
        background: #333;
        // margin: 0;
        width: 100%;
        height: auto;
      }
    }



  .js .global__toolbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 18em;
    height: 100%;
    min-height: 100%;
    // background: tomato;
    // padding: 0 1em;
    overflow: hidden;
    text-transform: translate3d(0,0,0);
    backface-visibility: hidden;
  }

  .js-openGlobalNav .global__toolbox{
    // z-index: 1;
    position: fixed;
    top: 0;
    height: auto;
    overflow-y: auto;
  }

  // .js .inner-wrap--global__navigation {
  //   // right: 0;
  // }

  // .js-openGlobalNav .inner-wrap--global__navigation {
  //   // right: 18em;
  // }

  .js .inner-wrap--global__navigation {
    // left: 0 !important;
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
    backface-visibility: hidden;
  }

  .js-openGlobalNav .inner-wrap--global__navigation {
    transform: translate3d(-18em, 0, 0);
  }
}


.burger {
    background: #17437d;
    padding: .25em .6em;
    margin-right: 1em;
    margin-top: 0;
    font-family: $gotham;
    font-size: .9rem;

    @include respond-min($navToggle){
      display: none;
    }
}
.burger-icon {
    content: "";
    display: block;
    width: 1em;
    box-shadow: 0 6px 0 1px #fff,0 12px 0 1px #fff,0 18px 0 1px #fff;
}
.burger-text {
    margin-left: 1.5em;
    color: #fff;
}



.global__toolbox__close-btn {
  // display: none;
    float: right;
    margin-top: 1em;

    @include respond-min($navToggle){
        display: none;
    }
}

.no-js .close-btn {
    @include respond-max($navToggle){
      display: block;
    }
}
