.parallax {
	// background: url("//cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://www.bethel.edu/_testing/kelsey-testing/images/benson-outside.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.parallax_content {
	// padding: 5em;
}
