.carousel--quote,
.carousel--employee {
    padding: 2em;
    // height: 100%;
    background-color: #fff;

    @include respond-min($medium){
        padding: 3em;
    }
}

// .carousel--quote .flickity--cell,
// .carousel--employee .flickity--cell {
//     margin-right: 1em;
// }

.carousel--quote,
.carousel--employee {
    // background: #fff;
//     margin-bottom: 2em;
//     padding: 2em 3em;
//     position: relative;

//     @include respond-min($large){
//         padding: 3em 4em;
//     }

    /* arrow color */
    .flickity-prev-next-button .arrow {
      fill: $bethel--blue;
    }
    .flickity-prev-next-button.no-svg {
      color: $bethel--blue;
    }
}

.quote {
    margin: 0 1em;

    @include respond-min($x-large){
        display: flex;
        flex: 1;
        flex-shrink: 0;
        flex-direction: row;
    }
}

.quote__text {
    // font-family: "Gotham A", "Gotham B";
    // font-weight: 400;
    // font-style:normal;
    flex: 1;
}

// .quote__avatar + .quote__text {
//     @include respond-min($x-large){
//         margin-left: 10em;
//     }
// }

.quote__avatar {
    // border-radius: 50%;
    // overflow:hidden;
    // line-height:0;
    width: 8em;
    height: 8em;
    margin: 0 auto 2em;
    // background: #777;

    @include respond-min($x-large){
        flex-basis: 8em;
        // float: left;
        // flex-shrink: 0;
        padding-right: 2em;
        margin-bottom: 0;
    }
}

.quote__avatar img {
    border-radius: 50%;
}