.search {
	// background: tomato;

	fieldset {
		border: 0;
	}
}

.search {
	// width: 100%;
	// margin: 2em 0;

	fieldset {
		// width:100%;
		margin: 0 auto;
		padding: 0;

		// @include respond-min(50em) {width: 50%;}
	}

	input {
		// @include font-size(.702);
		font-family: $gotham;
		font-size: .7rem;
		text-transform: uppercase;
		letter-spacing: .05em;
		margin:0;
		border:0;
		float: left;
		display:block;
		line-height: 2.25;
		height: 2.25rem;
		font-weight: 700;

		@include respond-min(30em) {
			// @include font-size(1);
		}
	}

	.search-input {
		// @include border-radius(.3em 0 0 .3em);
		border-radius: .3em 0 0 .3em;	
		// @include single-box-shadow(#aaa, inset, 0, 0, 7px);
		box-shadow: #aaa inset 0 0 7px;
		// width: 70%;
		padding: 9px 1em 8px;
		line-height: 1.602;
		border-left: 1px solid #999;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;

		&:focus {
			outline: 0;
		}
	}

	.search-go {
		// width: 25%;
		// @include border-radius(0 .3em .3em 0);
		border-radius: 0 .3em .3em 0;
		// padding: 0;
	}
}