---
title: Healthcare
layout: default
pageTitle: Test title
---

{{!-- <div class="grid-section mt0" >
    {{> moving-picture }}
</div>
 --}}

                        {{!-- <img src="https://c2.staticflickr.com/8/7233/7176281981_a966750235_o.jpg" alt="">   --}}
    <section class="grid-section  ma0  pa0">
        <div class="ixnner">

            <div class="grid">
                <div class="grid-cell">     

                    <style>
                        .hero-head-holder {
                        position:relative;
                        }
                        .hero-head-holder h1 {
                        font-size: calc(3vw + 3vh + 3vmin);
                        color: #fff;
                        margin: 1em 0;
                        }
/*                         .hero-head-holder h1:before {
                        position: absolute;
                        top: 0;
                        left: 24%;
                        width: 52%;
                        height: 2px;
                        background-color: #fff;
                        content: "";
                        }
                        .hero-head-holder h1:after {
                        position: absolute;
                        bottom:0;
                        left: 24%;
                        width: 52%;
                        height: 2px;
                        background-color: #fff;
                        content: "";
                        } */
                    </style>

                    <div class="mv0 lazyload" data-bgset="https://cdn1.bethel.edu/resize/unsafe/1800x0/smart/https://www.bethel.edu/academics/healthcare-excellence/images/collage.jpg" 
                     style="background-position-y: 50%; 
                     background-size: cover; 
                     padding: 5em 2em 5em; 
                     text-align: center;">
                        <div class="hero-head-holder"> 
                            <h1>Center for <br> Healthcare Excellence</h1>
                        </div>
{{!--                     <picture style="display: none;">
                        <source data-srcset=" https://c2.staticflickr.com/8/7233/7176281981_a966750235_o.jpg 400w
                         https://c2.staticflickr.com/8/7233/7176281981_a966750235_o.jpg 600w" >
                         <img alt="" data-parent-fit="cover" class="lazyload" data-sizes="auto">
                     </picture> --}}
                     </div>
                   
                </div>
            </div>

        </div>
    </section>

    <section class="grid-section  mt0  vh110  pv0  pv6--medium  bkg--white">
        <div class="inner">
            <div class="grid  grid--center  pv0  pv6--medium">
{{!--                 <div class="grid-cell">
                    <img src="https://placehold.it/600" alt="">            
                </div> --}}
                <div class="grid-cell  grid-cell--center  mt6  mb6  u-medium-2-3">
                    <p class="alpha  js-animateFadeIn" style="color:#888">At Bethel University, we’re committed to preparing you for excellence in your career, community and the world. That’s why we’ve developed pathways that lead <span color="#444">from your major to the healthcare career you’re passionate about.</span></p>
                    <br>
                    <p class="alpha  js-animateFadeIn">And that’s why we’ve created the Center for Healthcare Excellence.</p>
                </div>
            </div>
        </div>
    </section>


    <div    class="section--home__holder  section--home__academics  parallax  lazyload"  
            data-bgset="https://c2.staticflickr.com/4/3210/3018365826_e9e7091316_o.jpg" 
            data-sizes="auto" > 
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-2-5">
                    <div class="grid-pad-1x  medium-grid-pad-2x">               
                        <h2 data-bottom-top="opacity: 0;" data-center-center="opacity: 1;">One of the top healthcare cities in the U.S.</h2>
                        <div data-bottom-top="opacity: 0;" data-center-center="opacity: 1;">
                            <p>The Minneapolis-St. Paul area is home to a number of top organizations in the healthcare industry: providers, such as Allina Health and Fairview Clinics, payers, such as UnitedHealth, and medical device companies like Medtronic and Boston Scientific. These companies and others hire our alumni to serve as nurses, doctors, and insurers, as well as marketers, writers, accountants, analysts, and more.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div    class="section--home__holder  section--home__faith  parallax  lazyload"
            data-bgset="https://c2.staticflickr.com/8/7233/7176281981_a966750235_o.jpg"
            data-sizes="auto">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell  u-medium-2-5">
                    <div class="grid-pad-1x  medium-grid-pad-2x">
                        <h2 data-bottom-top="opacity: 0;" data-center-center="opacity: 1;">Hands-on learning experience</h2>
                        <div data-bottom-top="opacity: 0;" data-center-center="opacity: 1;">
                        <p>So we’ve partnered with healthcare companies that will provide you with valuable hands-on learning experiences through internships and service-learning opportunities. We’ll make sure you’re taking the right classes and have the right mentors so that you have the skills you and your future employer needs.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div    class="section--home__holder  section--home__community  parallax lazyload"
            data-bgset="https://c2.staticflickr.com/6/5540/14445697984_b31d802721_o.jpg"
            data-sizes="auto">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-2-5">
                    <div class="grid-pad-1x  medium-grid-pad-2x">               
                        <h2 data-bottom-top="opacity: 0;" data-center-center="opacity: 1;">An amazing community of alumni</h2>  
                        <div data-bottom-top="opacity: 0;" data-center-center="opacity: 1;">
                            <p>When you graduate from Bethel, you’ll be ready to become part of a community of alumni who are making an impact in healthcare.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <section class="grid-section  pv2  pv6--medium">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-1-2  pr4@medium">
                    <div class="grid-pad-1x">
                        <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style>
                        <div class="embed-container">
                            <iframe allowfullscreen="true" class=" lazyload" data-src="https://player.vimeo.com/video/68786413?title=0&amp;byline=0&amp;portrait=0" frameborder="0" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>
                   </div>
                </div>

                <div class="grid-cell u-medium-1-2  pr4@medium">
                    <div class="grid-pad-1x">

                        <h2>Advancing Tehcnology to Improve Patient Care</h2>
                        <p>John Brownlee cofounded a company that uses video and mobile technology to connect patients with their healthcare providers. Brownlee graduated from Bethel with a bachelor’s degree in economics.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="grid-section  pv2">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-1-2  pr4@medium ">
                    <div class="grid-pad-1x">
                        <h2>Saving Lives One Innovation at a Time</h2>
                        <p>Bethel business grad Chelsea B. and her team saved lives by developing an innovative way to get seniors the healthcare they needed. Berstler is a vice president of operations at United Healthcare’s Medicare division. </p>
                   </div>
                </div>

                <div class="grid-cell u-medium-1-2  pr4@medium  mb4">
                    <div class="grid-pad-1x">
                        <div class="embed-container">
                        <iframe allowfullscreen="true" class=" lazyload" data-src="https://player.vimeo.com/video/104712986?title=0&amp;byline=0&amp;portrait=0" frameborder="0" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pv6">
        <div class="inner">
            {{> proof-points }}
        </div>
    </section>

    {{!-- {{> parallax }} --}}

    <section class="grid-section  pv6  bkg--white">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell  pr4@medium">
                    <div class="grid-pad-1x">
                        <h2 class="alpha  center  mb2">Ready to join us?</h2>

                        <div class="grid">
                            <div class="grid-cell u-medium-1-3">
                                <div class="grid-pad-1x">
                                    <img src="https://cdn1.bethel.edu/resize/unsafe/1100x0/smart/https://www.bethel.edu/academics/healthcare-excellence/images/kristi-moline.jpg" alt="">
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="grid-pad-1x">
                                    <p>Contact Kristi Moline<br>
                                    Executive Director for the Center for Healthcare Excellence</p>
                                    <p><a class="btn">Connect with Kristi</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    


