---
title: HOME
layout: default
pageTitle: Test title
---

{{!-- {{> action-nav }} --}}


    {{> moving-picture }}

    <div class="animationHolder">
        <div class="trigger1">Trigger 1</div>
        <div class="blur">
            <img class="lazyload" data-src="https://cdn1.bethel.edu/resize/unsafe/2600x0/smart/https://www.bethel.edu/_homepages/www/images/chemistry-lab.jpg" alt="">
        </div>
        <div class="sploot">
            <h2>Academics</h2>
            Lorem iptiae odio debitis at voluptates quaerat obcaecati dolorum distinctio expedita quod harum quia. Odio molestias labore beatae dicta ipsam earum pariatur dolores cupiditate optio quod soluta quibusdam impedit totam, eaque nobis quasi? Veniam similique, impedit accusamus ducimus, praesentium voluptatum modi tempora, facilis vero deserunt laboriosam odio aperiam minus suscipit in. Modi laborum consequatur quas maiores asperiores nemo, praesentium aut voluptates soluta et ab, esse neque eos! Tempore, pariatur! Excepturi?
        </div>
    </div>

    <div class="animationHolder">
        <div class="trigger1">Trigger 1</div>
        <div class="blur">
            <img class="lazyload" data-src="https://cdn1.bethel.edu/resize/unsafe/2600x0/smart/https://www.bethel.edu/_homepages/www/images/chemistry-lab.jpg"
                alt="">
        </div>
        <div class="sploot">
            <h2>Academics</h2>
            Lorem iptiae odio debitis at voluptates quaerat obcaecati dolorum distinctio expedita quod harum quia. Odio molestias labore
            beatae dicta ipsam earum pariatur dolores cupiditate optio quod soluta quibusdam impedit totam, eaque nobis quasi?
            Veniam similique, impedit accusamus ducimus, praesentium voluptatum modi tempora, facilis vero deserunt laboriosam
            odio aperiam minus suscipit in. Modi laborum consequatur quas maiores asperiores nemo, praesentium aut voluptates
            soluta et ab, esse neque eos! Tempore, pariatur! Excepturi?
        </div>
    </div>


    {{!-- {{> section--home__academics }} --}}
    {{!-- {{> section--home }} --}}
    {{!-- {{> section--find-program }} --}}
    {{> section--visit }}
    {{!-- {{> section--request-info }} --}}

    {{!-- <section class="grid-section  pv6  ma0  bkg--white">
        <div class="inner">

            <div class="grid">
                <div class="grid-cell  mb4  js-animateSlideRight">
                    <div class="medium-grid-pad-1x">

                            <div class="quote">
                                <div class="quote__avatar">
                                    <img  class="lazyload" data-src="https://cdn2.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_lin-chin-chin.jpg" style="opacity: 1;" title="">
                                </div>

                                <div class="quote__text">
                                    <p>While interviewing with a Bethel alum for a position at UnitedHealth Group, the interviewer asked me to consider joining the International Audit department instead of the position for which I had applied.</p>
                                    <cite class="quote__source">–Chin-Chin Lin</cite>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="grid-cell  js-animateSlideLeft">
                    <div class="medium-grid-pad-1x">

                        <div class="quote">
                            <div class="quote__avatar">
                                <img  class="lazyload" data-src="https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_nettleton-nicole.jpg" style="opacity: 1;">
                            </div>
                            <div class="quote__text">
                                <p>Bethel really prepared me...having a liberal arts education was beneficial because it made me well rounded.[Businesses] look for people with all sorts of different backgrounds and leadership experience. Bethel encourages people to get involved.</p>
                                <cite class="quote__source">–Nicole (Nettleton) Willenbring</cite>
                            </div>
                        </div>

                        <div class="quote  mv2">
                            <div class="quote__avatar">
                                <img  class="lazyload" data-src="https://cdn2.bethel.edu/resize/unsafe/830x0/smart/https://www.bethel.edu/_shared-content/images/gls/carrie-rasmussen.jpg" title="">
                            </div>

                            <div class="quote__text">
                                <p>"Bethel invites leaders to come together to gain understanding and put into practice what Jesus taught us: love one another. I have a true appreciation for Bethel's desire to come alongside the church."</p>
                                <cite class="quote__source"><b>Carrie Rasmussen</b><br>
                                    Campus Executive Pastor<br>
                                    Eagle Brook Church
                                </cite>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="grid-cell  mb4  js-animateSlideRight">
                    <div class="medium-grid-pad-1x">

                            <div class="quote">
                                <div class="quote__avatar">
                                    <img  class="lazyload" data-src="https://cdn2.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_lin-chin-chin.jpg" style="opacity: 1;" title="">
                                </div>

                                <div class="quote__text">
                                    <p>While interviewing with a Bethel alum for a position at UnitedHealth Group, the interviewer asked me to consider joining the International Audit department instead of the position for which I had applied.</p>
                                    <cite class="quote__source">–Chin-Chin Lin</cite>
                                </div>
                            </div>

                    </div>
                </div>
                <div class="grid-cell  js-animateSlideLeft">
                    <div class="medium-grid-pad-1x">

                        <div class="quote">
                            <div class="quote__avatar">
                                <img  class="lazyload" data-src="https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_nettleton-nicole.jpg" style="opacity: 1;">
                            </div>
                            <div class="quote__text">
                                <p>Bethel really prepared me...having a liberal arts education was beneficial because it made me well rounded.[Businesses] look for people with all sorts of different backgrounds and leadership experience. Bethel encourages people to get involved.</p>
                                <cite class="quote__source">–Nicole (Nettleton) Willenbring</cite>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </section> --}}
    

    {{!-- <p>Bethel University is a top-ranked, evangelical Christian university based in St. Paul, Minnesota.</p>
    <h2>Our Students</h2>
    <p>With a total enrollment of 6,500 students, Bethel is the largest institution in the 13-member Christian College Consortium and among the top five in the 106-member Council for Christian Colleges and Universities. In recent years, our students have come from as many as 49 states and 23 countries, and have represented more than 65 Christian denominations.</p>

    <h2>Our Campus</h2>
    <p>The 110,000-square-foot Brushaber Commons (completed in March 2009) is the latest addition to our 245-acre lakeside campus in suburban Arden Hills, Minnesota, 20 minutes from downtown St. Paul and Minneapolis. The spacious, modern building houses a two-story dining center, a restaurant, coffee shop, expanded campus store, offices for student organizations, and a green roof.</p>
    <h2>Religious Affiliation</h2>
    <p>Bethel is sponsored by the churches of <a href="http://www.convergeworldwide.org/">Converge Worldwide</a>, although we serve students from more than 65 Christian denominations.</p>
    <h2>Academics</h2>
    <p>As a comprehensive liberal arts university including a seminary, we offer more than 100 different undergraduate and advanced degree programs through 4 different schools.</p>
    <h3>College of Arts &amp; Sciences</h3>
    <ul>
        <li><a href="http://cas.bethel.edu/academics/majors-minors">88 majors and 43 minors</a> in subjects as diverse and engaging as environmental studies, business, journalism, international relations, art, biochemistry/microbiology, athletic training, and engineering science</li>
        <li><a href="http://cas.bethel.edu/academics/preprofessional-programs/">11 pre-professional programs</a> in medicine, law, dentistry, veterinary science, physical therapy, pharmacy, and more</li>
        <li>Nearly 75% of our traditional undergrad students <a href="http://cas.bethel.edu/academics/study-abroad">study abroad</a> in more than 30 destinations</li>
    </ul>
    <h3>Graduate School</h3>
    <ul>
        <li><a href="http://gs.bethel.edu/academics/masters/">11 master's degrees</a> including communication, education K-12, gerontology, business, nursing, organizational leadership, and more</li>
        <li>An <a href="http://gs.bethel.edu/academics/doctorate/educational-administration/">Ed.D. in Educational Leadership</a> with licensure options</li>
        <li><a href="http://gs.bethel.edu/academics/certificates/">Graduate certificate programs</a> in various education fields such as autism spectrum disorders, nursing education, and postsecondary teaching</li>
        <li>Graduate licenses in multiple education specialties including special education, reading, and worked-based learning</li>
    </ul>
    <h3>College of Adult &amp; Professional Studies</h3>
    <ul>
        <li><a href="http://caps.bethel.edu/academics/bachelors/">Bachelor's degrees</a> in high-growth fields such as business management, communication studies, nursing (RN to B.S.), and organizational leadership</li>
        <li>An <a href="http://caps.bethel.edu/academics/associates/">associate degree</a> in general studies for first-time college students</li>
        <li><a href="http://caps.bethel.edu/academics/certificates/">Certificate program</a> in&nbsp; human resource management</li>
        <li><a href="http://caps.bethel.edu/locations/">Convenient locations</a> throughout the greater Twin Cities region</li>
    </ul>
    <h3>Bethel Seminary</h3>
    <ul>
        <li><a href="http://seminary.bethel.edu/academics">Graduate programs</a> in dozens of theological, pastoral, and leadership concentrations</li>
        <li>SemPM, an evening seminary program for working adults</li>
        <li><a href="http://seminary.bethel.edu/academics/delivery-options/distance-learning">InMinistry distance learning program</a>, one of the most successful seminary distance learning programs in the country</li>
        <li><a href="http://www.bethel.edu/seminary/about/locations">Seminary locations</a> in St. Paul and San Diego</li>
    </ul>
    <h2>Athletics</h2>
    <p>The <a href="http://athletics.bethel.edu">Bethel Royals</a> field 18 NCAA Division III varsity sports in the <a href="http://www.miac-online.org/">Minnesota Intercollegiate Athletic Conference (MIAC)</a>
    </p>


    <h2>The Arts</h2>
    <p>Bethel's musical, theatre, and visual arts are highly respected among Christian colleges. Our <a href="http://cas.bethel.edu/academics/departments/music/">music department</a> fields 11 vocal and instrumental performance groups - jazz, choir, symphony orchestra, even handbells-in the expansive <a href="http://www.bethel.edu/events/arts/venues/benson/index">Benson Great Hall</a>. Plus, our theatre students stage 4 plays annually in the hall or in the intimate Black Box Theatre.</p>
    <p>We have two art galleries on campus which host exhibitions showcasing the work of nationally and internationally established artists as well as artists in our local communities.</p>
    <p>Additionally, the Twin Cities' arts community provides opportunities to experience culture firsthand or engage professionally with the arts through internships.</p>
        {{> quotes }}
</div> --}}


    {{!-- <section class="grid-section  mv6">
        <div class="inner">
            {{> proof-points }}
        </div>
    </section>


    <section class="grid-section  pv6  bkg--white">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-1-2  pr4@medium  mb4">
                    <div class="medium-grid-pad-1x">{{> news }}</div>
                </div>
                <div class="grid-cell">
                    <div class="medium-grid-pad-1x">{{> events }}</div>
                </div>
            </div>
        </div>
    </section> --}}

    {{!-- {{> section--apply }} --}}


