---
title: HOME
layout: default
pageTitle: Test title
---



    {{> section--apply }}

    {{> request-info }}

    <section class="grid-section  mv6">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-1-2  pr4@medium">
                    <div class="medium-grid-pad-1x">{{> news }}</div>
                </div>
                <div class="grid-cell">
                    <div class="medium-grid-pad-1x">{{> events }}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="grid-section  mv6">
        <div class="inner">

            <div class="grid">
                <div class="grid-cell">
                    <div class="medium-grid-pad-1x">{{> quotes }}</div>
                </div>
                <div class="grid-cell">
                    <div class="medium-grid-pad-1x">{{> quotes }}</div>
                </div>
            </div>

        </div>
    </section>
