---
title: HOMER
layout: home
pageTitle: Test title
---

<div class="main js-animate">

    {{!-- {{> collapsible }} --}}

    <section class="grid-section">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-1-2  pr4@medium">
                    <div class="medium-grid-pad-1x">{{> news }}</div>
                </div>
                <div class="grid-cell">
                    <div class="medium-grid-pad-1x">{{> events }}</div>
                </div>
            </div>
        </div>
    </section>

    <section class="grid-section">
        <div class="inner">
            <div class="grid">
                <div class="grid-cell u-medium-1-2  pr4@medium">
                    {{!-- <div class="medium-grid-pad-1x">{{> quotes }}</div> --}}
                </div>
                <div class="grid-cell">
                    {{!-- <div class="medium-grid-pad-1x">{{> quotes }}</div> --}}
                </div>
            </div>

        </div>
    </section>
    
</div>