---
title: HOME 2
layout: default
pageTitle: Test title
---

<style>
    @media (min-width: 830px){
        .global__header {
            background: rgba(0,0,0,.2);
            z-index: 100
        }
    }
    body {
        color: #667;
        font-family: "Gotham A", "Gotham B", Helvetica, Arial, sans;
    }

    .inner {
        max-width: 90em;
        overflow: auto;
    }

    .realSection {
        background-image: linear-gradient(#fff, #f8f8f8);
        background: #fff;
        position: relative;
}

    .realSection .inner {
        position: relative;
    }

    .card-footer {
        background: #fff;
        border-top: 0;
        color: #aaa;
        text-transform: uppercase;
    }

    .proofPoints .grid {
        align-items: baseline;
    }
</style>

{{> action-nav }}

{{> moving-picture }}

<div class="stickyBar">
    <span>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512.004 512.004" style="enable-background:new 0 0 512.004 512.004;" xml:space="preserve">
            <g>
                <g>
                    <g>
                        <path d="M291.057,242.811c1.51,2.953,4.514,4.659,7.62,4.659c1.297,0,2.628-0.299,3.866-0.93
                        c0.503-0.256,50.731-25.771,75.503-33.596c4.489-1.425,6.98-6.221,5.555-10.709c-1.417-4.489-6.178-6.989-10.709-5.572
                        c-26.095,8.252-75.981,33.596-78.097,34.671C290.596,233.467,288.924,238.605,291.057,242.811z" />
                        <path d="M298.677,145.071c1.297,0,2.628-0.299,3.866-0.93c0.503-0.256,50.731-25.771,75.503-33.596
                        c4.489-1.425,6.98-6.221,5.555-10.709c-1.417-4.489-6.178-6.989-10.709-5.572c-26.095,8.252-75.981,33.596-78.097,34.671
                        c-4.198,2.133-5.871,7.27-3.738,11.477C292.567,143.364,295.571,145.071,298.677,145.071z" />
                        <path d="M503.469,128.004c-4.719,0-8.533,3.823-8.533,8.533v332.8c0,14.114-11.486,25.6-25.6,25.6h-204.8v-19.635
                        c12.442-4.352,44.851-14.498,76.8-14.498c74.334,0,124.809,16.461,125.312,16.631c2.568,0.853,5.436,0.427,7.68-1.178
                        c2.227-1.604,3.541-4.181,3.541-6.921V93.871c0-4.002-2.773-7.467-6.682-8.329c0,0-6.69-1.493-18.125-3.593
                        c-4.617-0.853-9.079,2.219-9.933,6.844c-0.853,4.642,2.21,9.088,6.844,9.941c4.361,0.802,8.013,1.51,10.829,2.074v357.188
                        c-19.337-5.069-62.276-14.259-119.467-14.259c-37.18,0-73.702,12.211-85.001,16.35c-10.044-4.437-40.405-16.35-77.133-16.35
                        c-58.778,0-107.196,9.694-128,14.618V100.475c17.041-4.19,67.371-15.138,128-15.138c31.113,0,57.796,9.685,68.267,14.063v335.804
                        c0,3.072,1.655,5.914,4.326,7.424c2.671,1.519,5.965,1.476,8.602-0.111c0.845-0.503,85.393-51.004,160.435-76.015
                        c3.49-1.169,5.837-4.42,5.837-8.098V8.537c0-2.799-1.374-5.419-3.678-7.014c-2.287-1.596-5.222-1.963-7.859-0.981
                        C346.856,26.15,277.771,69.141,277.079,69.568c-3.994,2.5-5.214,7.765-2.714,11.759c2.492,3.994,7.757,5.214,11.759,2.714
                        c0.631-0.401,60.732-37.794,123.477-63.027v331.281c-58.249,20.241-119.066,53.291-145.067,68.087V93.871
                        c0-3.234-1.826-6.187-4.719-7.637c-1.468-0.725-36.437-17.963-80.614-17.963c-77.107,0-136.388,16.683-138.88,17.399
                        c-3.661,1.041-6.187,4.395-6.187,8.201v375.467c0,2.671,1.263,5.197,3.388,6.81c1.502,1.135,3.311,1.724,5.146,1.724
                        c0.785,0,1.57-0.111,2.338-0.333c0.589-0.162,59.597-16.734,134.195-16.734c31.198,0,57.856,9.711,68.267,14.071v20.062h-204.8
                        c-14.114,0-25.6-11.486-25.6-25.6v-332.8c0-4.71-3.823-8.533-8.533-8.533s-8.533,3.823-8.533,8.533v332.8
                        c0,23.526,19.14,42.667,42.667,42.667h426.667c23.526,0,42.667-19.14,42.667-42.667v-332.8
                        C512.002,131.827,508.188,128.004,503.469,128.004z" />
                        <path d="M291.057,191.611c1.51,2.953,4.514,4.659,7.62,4.659c1.297,0,2.628-0.299,3.866-0.93
                        c0.503-0.256,50.731-25.771,75.503-33.596c4.489-1.425,6.98-6.221,5.555-10.709c-1.417-4.489-6.178-6.989-10.709-5.572
                        c-26.095,8.252-75.981,33.596-78.097,34.671C290.596,182.267,288.924,187.405,291.057,191.611z" />
                        <path d="M291.057,294.011c1.51,2.953,4.514,4.659,7.62,4.659c1.297,0,2.628-0.299,3.866-0.93
                        c0.503-0.256,50.731-25.771,75.503-33.596c4.489-1.425,6.98-6.221,5.555-10.709c-1.417-4.489-6.178-6.989-10.709-5.572
                        c-26.095,8.252-75.981,33.596-78.097,34.671C290.596,284.667,288.924,289.805,291.057,294.011z" />
                        <path d="M206.748,158.366c-52.693-12.365-112.572,3.388-115.089,4.062c-4.548,1.22-7.253,5.896-6.033,10.453
                        c1.024,3.814,4.471,6.323,8.235,6.323c0.734,0,1.476-0.094,2.219-0.29c0.572-0.162,58.223-15.326,106.778-3.934
                        c4.565,1.067,9.182-1.775,10.257-6.366C214.189,164.032,211.339,159.441,206.748,158.366z" />
                        <path d="M206.748,209.566c-52.693-12.356-112.572,3.388-115.089,4.062c-4.548,1.22-7.253,5.897-6.033,10.453
                        c1.024,3.814,4.471,6.323,8.235,6.323c0.734,0,1.476-0.094,2.219-0.29c0.572-0.162,58.223-15.326,106.778-3.934
                        c4.565,1.067,9.182-1.775,10.257-6.366C214.189,215.232,211.339,210.641,206.748,209.566z" />
                        <path d="M291.057,345.211c1.51,2.953,4.514,4.659,7.62,4.659c1.297,0,2.628-0.299,3.866-0.93
                        c0.503-0.256,50.731-25.771,75.503-33.596c4.489-1.425,6.98-6.221,5.555-10.709c-1.417-4.488-6.178-6.989-10.709-5.572
                        c-26.095,8.252-75.981,33.596-78.097,34.671C290.596,335.867,288.924,341.005,291.057,345.211z" />
                        <path d="M206.748,260.766c-52.693-12.356-112.572,3.379-115.089,4.062c-4.548,1.22-7.253,5.897-6.033,10.453
                        c1.024,3.814,4.471,6.332,8.235,6.332c0.734,0,1.476-0.102,2.219-0.299c0.572-0.162,58.223-15.326,106.778-3.934
                        c4.565,1.067,9.182-1.775,10.257-6.366C214.189,266.432,211.339,261.841,206.748,260.766z" />
                        <path d="M206.748,363.166c-52.693-12.365-112.572,3.388-115.089,4.062c-4.548,1.22-7.253,5.897-6.033,10.453
                        c1.024,3.814,4.471,6.332,8.235,6.332c0.734,0,1.476-0.102,2.219-0.299c0.572-0.162,58.223-15.326,106.778-3.934
                        c4.565,1.058,9.182-1.775,10.257-6.366C214.189,368.832,211.339,364.241,206.748,363.166z" />
                        <path d="M206.748,311.966c-52.693-12.365-112.572,3.379-115.089,4.062c-4.548,1.22-7.253,5.897-6.033,10.453
                        c1.024,3.814,4.471,6.332,8.235,6.332c0.734,0,1.476-0.102,2.219-0.299c0.572-0.162,58.223-15.326,106.778-3.934
                        c4.565,1.067,9.182-1.775,10.257-6.366C214.189,317.632,211.339,313.041,206.748,311.966z" />
                    </g>
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
        <a href="#academics">World-class academics</a>
    </span>
    <span>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 512.003 512.003" style="enable-background:new 0 0 512.003 512.003;" xml:space="preserve">
            <g>
                <g>
                    <path d="M509.605,171.075l-99.3-99.301c-3.193-3.194-8.37-3.194-11.565,0l-49.65,49.65c-1.533,1.533-2.394,3.613-2.394,5.782
                    c0,2.169,0.861,4.249,2.394,5.782l4.953,4.953l-11.382,11.38c-7.389,7.386-18.854,9.402-28.528,5.011
                    c-9.07-4.117-19.153-6.292-29.161-6.292c-11.883,0-23.496,2.983-33.814,8.633c-4.303-1.06-8.719-1.603-13.179-1.603
                    c-6.45,0-12.785,1.113-18.829,3.31c-9.651,3.506-19.996,1.333-27.003-5.672L171.71,132.27l2.434-2.434
                    c1.533-1.533,2.394-3.613,2.394-5.782c0-2.169-0.861-4.249-2.394-5.782l-49.65-49.65c-3.195-3.194-8.371-3.194-11.565,0
                    L2.395,179.156c-3.193,3.194-3.193,8.371,0,11.564l49.649,49.65c1.534,1.534,3.613,2.395,5.783,2.395s4.248-0.861,5.783-2.395
                    l2.961-2.961l14.414,14.414c3.637,3.637,6.048,8.178,6.971,13.131c4.786,25.683,17.086,49.032,35.57,67.526l2.715,2.715
                    c-5.214,5.491-8.082,12.645-8.082,20.245c0,7.861,3.062,15.252,8.62,20.811c5.738,5.738,13.273,8.606,20.811,8.606
                    c0.491,0,0.98-0.013,1.471-0.038c-0.398,8.019,2.458,16.17,8.568,22.282c5.559,5.559,12.95,8.62,20.811,8.62
                    c0.219,0,0.437-0.011,0.656-0.016c-0.168,7.749,2.691,15.552,8.591,21.453c5.559,5.56,12.95,8.62,20.812,8.62
                    c7.861,0,15.251-3.062,20.811-8.62c0.468-0.468,0.909-0.952,1.34-1.442c2.895,1.009,5.957,1.546,9.052,1.546
                    c7.353,0,14.261-2.865,19.441-8.062c2.757-2.756,4.849-5.998,6.211-9.529l0.837,0.837c5.359,5.359,12.398,8.039,19.437,8.039
                    c7.039,0,14.078-2.68,19.437-8.039c2.848-2.848,4.988-6.211,6.344-9.878c4.797,3.489,10.476,5.236,16.158,5.236
                    c7.039,0,14.082-2.679,19.446-8.036c5.191-5.191,8.05-12.097,8.05-19.445c0-2.22-0.266-4.397-0.773-6.502
                    c5.237-1.064,10.049-3.635,13.91-7.501c5.191-5.191,8.05-12.094,8.05-19.437c0-5.785-1.782-11.292-5.073-15.91l6.56-6.56
                    c18.699-18.708,31.052-42.35,35.725-68.371c0.783-4.357,2.941-8.404,6.243-11.707l24.398-24.398l4.289,4.289
                    c1.597,1.597,3.69,2.395,5.783,2.395c2.092,0,4.186-0.798,5.783-2.395l49.65-49.65c1.533-1.533,2.394-3.613,2.394-5.782
                    S511.138,172.609,509.605,171.075z M57.827,223.025l-38.086-38.086L118.71,85.97l38.087,38.086L57.827,223.025z M156.836,364.689
                    c-5.097,5.096-13.392,5.098-18.493,0c-2.47-2.471-3.83-5.754-3.83-9.247c0-3.492,1.361-6.776,3.831-9.246
                    c2.549-2.549,5.896-3.824,9.245-3.824c3.348,0,6.698,1.275,9.246,3.824C161.933,351.294,161.933,359.59,156.836,364.689z
                        M187.684,395.537c-2.468,2.471-5.751,3.83-9.246,3.83c-3.492,0-6.776-1.361-9.245-3.83c-5.099-5.098-5.099-13.394,0-18.493
                    c2.549-2.549,5.896-3.824,9.246-3.824c3.347,0,6.697,1.275,9.245,3.824C192.784,382.142,192.784,390.439,187.684,395.537z
                        M217.742,425.594c-2.47,2.47-5.753,3.83-9.245,3.83c-3.493,0-6.777-1.361-9.246-3.83c-5.099-5.098-5.099-13.394,0-18.493
                    c2.549-2.549,5.896-3.824,9.246-3.824c3.347,0,6.697,1.275,9.245,3.824C222.841,412.2,222.841,420.496,217.742,425.594z
                        M356.63,362.822c-2.102,2.104-4.897,3.263-7.869,3.263s-5.767-1.159-7.873-3.268l-79.33-79.312
                    c-3.196-3.193-8.372-3.192-11.565,0.002c-3.192,3.193-3.191,8.371,0.002,11.564l85.451,85.442c2.103,2.102,3.26,4.898,3.26,7.872
                    c0,2.98-1.158,5.779-3.257,7.878c-4.347,4.343-11.416,4.344-15.756,0.003l-14.416-14.416c-0.08-0.083-0.158-0.167-0.241-0.249
                    c-0.024-0.024-0.051-0.045-0.076-0.069l-66.267-66.267c-3.195-3.193-8.371-3.193-11.565,0c-3.194,3.193-3.194,8.371,0,11.564
                    l66.48,66.479c2.032,2.083,3.151,4.839,3.151,7.763c0,2.974-1.159,5.77-3.261,7.872c-4.338,4.341-11.401,4.341-15.743,0
                    l-72.085-72.086c-3.195-3.194-8.371-3.194-11.565,0c-3.194,3.193-3.194,8.371,0,11.564l53.434,53.435
                    c0.015,0.015,0.027,0.032,0.043,0.046c2.101,2.097,3.257,4.888,3.257,7.859c0,2.973-1.158,5.769-3.269,7.88
                    c-2.099,2.104-4.893,3.263-7.87,3.263c-0.719,0-1.422-0.074-2.11-0.204c1.323-8.913-1.436-18.32-8.282-25.167
                    c-5.559-5.558-12.95-8.62-20.811-8.62c-0.219,0-0.437,0.011-0.656,0.016c0.168-7.749-2.69-15.552-8.591-21.453
                    c-5.56-5.558-12.95-8.62-20.812-8.62c-0.492,0-0.981,0.012-1.469,0.036c0.393-8.014-2.463-16.158-8.57-22.266
                    c-7.434-7.433-17.884-10.044-27.444-7.847l-5.864-5.864c-16.14-16.147-26.878-36.535-31.057-58.96
                    c-1.531-8.213-5.502-15.717-11.483-21.699l-14.415-14.415l82.01-82.01l20.438,20.438c7.856,7.856,18.552,12.06,29.507,12.06
                    c4.906,0,9.867-0.844,14.646-2.581c2.318-0.843,4.715-1.448,7.144-1.832l-50.632,50.633c-6.195,6.194-9.607,14.43-9.607,23.191
                    c0,8.76,3.412,16.996,9.606,23.19c6.394,6.394,14.79,9.59,23.19,9.589c8.398,0,16.797-3.198,23.192-9.589l25.43-25.43l6.883,6.888
                    c0.002,0.002,0.003,0.003,0.005,0.005l0.286,0.286l0.275,0.275c0.001,0.001,0.003,0.003,0.005,0.004l0.005,0.005
                    c0.079,0.078,0.156,0.152,0.233,0.226l95.881,95.881c2.103,2.102,3.26,4.898,3.26,7.872
                    C359.893,357.921,358.736,360.717,356.63,362.822z M408.137,240.834c-5.674,5.675-9.4,12.723-10.774,20.381
                    c-4.08,22.72-14.867,43.364-31.193,59.698l-6.284,6.285l-51.731-51.731c1.124,0.083,2.253,0.138,3.39,0.138
                    c5.238,0,10.598-0.918,15.934-3.101c4.18-1.71,6.182-6.485,4.472-10.664c-1.71-4.179-6.481-6.182-10.664-4.472
                    c-21.046,8.611-46.278-15.12-49.087-17.855c-0.047-0.046-0.094-0.091-0.142-0.135l-0.29-0.29
                    c-0.001-0.001-0.002-0.001-0.003-0.002l-0.253-0.252c-0.001-0.001-0.003-0.003-0.005-0.004l-6.884-6.889l7.806-7.807
                    c3.195-3.194,3.195-8.371,0.001-11.565c-3.194-3.192-8.371-3.193-11.564,0l-13.57,13.57c-0.005,0.005-0.011,0.01-0.016,0.015
                    c-0.005,0.005-0.01,0.011-0.015,0.016l-31.2,31.2c-6.412,6.411-16.842,6.409-23.252,0c-3.105-3.105-4.815-7.234-4.815-11.626
                    c0-4.392,1.71-8.521,4.816-11.626l53.852-53.854c2.996-2.995,6.326-5.63,9.905-7.837c8.503-5.256,18.324-8.034,28.401-8.034
                    c7.693,0,15.439,1.67,22.403,4.831c15.842,7.188,34.671,3.839,46.851-8.338l11.383-11.381l66.929,66.929L408.137,240.834z
                        M454.172,214.944l-87.736-87.736l38.087-38.086l87.736,87.736L454.172,214.944z" />
                </g>
            </g>
            <g>
                <g>
                    <circle cx="462.41" cy="183.11" r="8.177" />
                </g>
            </g>
            <g>
                <g>
                    <circle cx="53.567" cy="191.189" r="8.177" />
                </g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
            <g>
            </g>
        </svg>
        <a href="#experience">Head-turning experience</a>
    </span>
    <span>
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 453.841 453.841" xmlns:xlink="http://www.w3.org/1999/xlink"
            enable-background="new 0 0 453.841 453.841">
            <g>
                <path d="m327.314,244.012c0-22.336-18.171-40.507-40.507-40.507h-19.379v-17.648c0-22.336-18.172-40.508-40.508-40.508s-40.508,18.172-40.508,40.508v17.648h-19.379c-22.336,0-40.508,18.172-40.508,40.508s18.172,40.507 40.508,40.507h19.379v111.721c0,22.336 18.172,40.508 40.508,40.508s40.508-18.172 40.508-40.508v-111.721h19.379c22.337,0 40.507-18.172 40.507-40.508zm-40.506,15.508h-31.879c-6.903,0-12.5,5.596-12.5,12.5v124.221c0,8.551-6.957,15.508-15.508,15.508s-15.508-6.957-15.508-15.508v-124.221c0-6.904-5.597-12.5-12.5-12.5h-31.879c-8.551,0-15.508-6.957-15.508-15.508 0-8.551 6.957-15.507 15.508-15.507h31.879c6.903,0 12.5-5.596 12.5-12.5v-30.148c0-8.551 6.957-15.508 15.508-15.508s15.508,6.957 15.508,15.508v30.148c0,6.904 5.597,12.5 12.5,12.5h31.879c8.551,0 15.507,6.957 15.507,15.508-0.001,8.55-6.957,15.507-15.507,15.507z"
                />
                <path d="m227.974,119.311c6.903,0 12.5-5.596 12.5-12.5v-77.219c0-6.904-5.597-12.5-12.5-12.5s-12.5,5.596-12.5,12.5v77.219c0,6.903 5.596,12.5 12.5,12.5z"
                />
                <path d="m441.341,232.566h-77.219c-6.903,0-12.5,5.597-12.5,12.5s5.597,12.5 12.5,12.5h77.219c6.903,0 12.5-5.597 12.5-12.5s-5.597-12.5-12.5-12.5z"
                />
                <path d="m324.682,160.241c3.198,0 6.398-1.221 8.839-3.661l54.603-54.602c4.882-4.882 4.882-12.796 0-17.678-4.882-4.881-12.796-4.881-17.678,0l-54.603,54.602c-4.882,4.881-4.882,12.796 0,17.678 2.441,2.441 5.639,3.661 8.839,3.661z"
                />
                <path d="m121.811,155.09c2.44,2.441 5.64,3.661 8.839,3.661s6.398-1.22 8.839-3.661c4.882-4.882 4.882-12.796 0-17.678l-54.603-54.601c-4.881-4.881-12.797-4.881-17.678,0-4.882,4.882-4.882,12.796 0,17.678l54.603,54.601z"
                />
                <path d="m102.219,242.959c0-6.903-5.597-12.5-12.5-12.5h-77.219c-6.903,0-12.5,5.597-12.5,12.5s5.597,12.5 12.5,12.5h77.219c6.903,0 12.5-5.597 12.5-12.5z"
                />
                <path d="m120.32,331.445l-54.602,54.602c-4.882,4.881-4.882,12.796 0,17.678 2.44,2.441 5.64,3.661 8.839,3.661s6.398-1.22 8.839-3.661l54.602-54.602c4.882-4.881 4.882-12.796 0-17.678-4.881-4.882-12.797-4.882-17.678,0z"
                />
                <path d="m332.031,332.935c-4.882-4.881-12.796-4.881-17.678,0s-4.882,12.796 0,17.678l54.602,54.602c2.441,2.441 5.64,3.661 8.839,3.661 3.198,0 6.398-1.221 8.839-3.661 4.882-4.881 4.882-12.796 0-17.678l-54.602-54.602z"
                />
                <path d="m163.845,121.642c1.995,4.813 6.647,7.718 11.553,7.718 1.595,0 3.216-0.307 4.78-0.956 6.378-2.643 9.405-9.956 6.763-16.333l-18.226-43.982c-2.643-6.378-9.958-9.404-16.333-6.762-6.378,2.643-9.405,9.956-6.763,16.333l18.226,43.982z"
                />
                <path d="m342.535,197.265c1.994,4.814 6.648,7.72 11.554,7.72 1.594,0 3.214-0.307 4.778-0.955l43.981-18.215c6.378-2.642 9.407-9.954 6.766-16.332-2.642-6.378-9.951-9.405-16.332-6.766l-43.981,18.215c-6.378,2.643-9.407,9.955-6.766,16.333z"
                />
                <path d="m275.612,129.209c1.564,0.648 3.185,0.955 4.779,0.955 4.905,0 9.559-2.905 11.553-7.719l18.226-43.993c2.643-6.378-0.386-13.69-6.764-16.332-6.377-2.642-13.689,0.385-16.332,6.764l-18.226,43.992c-2.642,6.379 0.386,13.691 6.764,16.333z"
                />
                <path d="m51.797,183.867l43.981,18.216c1.564,0.647 3.185,0.955 4.778,0.955 4.905,0 9.56-2.906 11.554-7.72 2.642-6.378-0.388-13.69-6.766-16.332l-43.981-18.216c-6.378-2.64-13.689,0.388-16.332,6.766-2.641,6.377 0.388,13.689 6.766,16.331z"
                />
                <path d="m111.305,290.764c-2.642-6.378-9.952-9.406-16.332-6.765l-43.972,18.215c-6.378,2.642-9.406,9.954-6.765,16.332 1.995,4.814 6.648,7.72 11.554,7.72 1.594,0 3.215-0.307 4.779-0.955l43.972-18.215c6.378-2.642 9.406-9.954 6.764-16.332z"
                />
                <path d="m402.046,304.164l-43.981-18.226c-6.376-2.643-13.69,0.385-16.333,6.762-2.643,6.378 0.385,13.69 6.763,16.333l43.981,18.226c1.564,0.648 3.186,0.956 4.78,0.956 4.904,0 9.559-2.905 11.553-7.718 2.642-6.378-0.385-13.69-6.763-16.333z"
                />
            </g>
        </svg>
        <a href="#faith">Life-changing faith</a>
    </span>
</div>

{{!-- Profiles --}}
<section class="bkg--white" style="overflow: hidden;">
    <div class="bkg--diagonal"></div>
    <div class="pattern" style="position: absolute;">
        <canvas class="patternBubbles" width="400" height="2400"></canvas>
    </div>
  
    <div class="inner pv6">
        <h2 class="center  mt1  mb1  gamma  fw300" style="position: relative;">Our Stories</h2>
  

        <div class="grid" style="position: relative;">
            <div class="grid-cell  u-medium-1-2  mr4--medium">

                    <div class="backgroundOffset --diagonalBlue">
                        <img class="" style="border-radius: 1em;" src="https://cdn1.bethel.edu/resize/unsafe/1500x0/smart/https://www.bethel.edu/news/articles/2018/images/ryan-wahlund.jpg">
                    </div>
                    <div class="mt3 ph1">
                        <h3 class="h1  mt0 fw400">The Path Less Traveled</h3>
                        <p class="">Ryan Wahlund ’06 tried out several majors—and career paths—before he found one that fit.</p>
                    </div>

            </div>
            <div class="grid-cell">
                <div class="grid">
                    <div class="grid-cell">
                        <div class="grid-pad-1x">
                            <img src="https://cdn2.bethel.edu/resize/unsafe/1500x0/smart/https://www.bethel.edu/news/articles/2018/images/transfer-katie-murphy.jpg">
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="grid-pad-1x">
                                    
                            <h6 class="mt0  h3  fw400" style="margin-bottom: .25em; line-height: 1.3">Practicing the “Art of Conversation”</h6>
                            <p class="mv0" style="font-size: 14px;">The Office of Career Development and Calling hosted an event that allowed students to chat with alumni and improve their networking skills.</p>

                        </div>
                    </div>
                </div>

                <div class="grid">
                    <div class="grid-cell">
                        <div class="grid-pad-1x">
                            <img src="https://cdn1.bethel.edu/resize/unsafe/1500x0/smart/https://www.bethel.edu/news/articles/2018/images/art-of-conversation.jpg">
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="grid-pad-1x">
                            <h6 class="mt0  h3  fw400" style="margin-bottom: .25em; line-height: 1.3">Transfer Student Experiences the Bethel Difference</h6>
                            <p class="mv0" style="font-size: 14px;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <p class="center  mt3"><a class="btn">See more Stories</a></p>
            </div>
        </div>

    </div>

</section>


{{!-- Academics --}}
<section id="academics" class="pv5  realSection" style="overflow: hidden;">
    <div class="bkg--diagonal2"></div>

    <div class="inner" style="position: relative;z-index:10;">
        <h2 class="delta  fw300  ta--center">World-class academics</h2>

        <div class="grid  mb3">
            <div class="grid-cell u-medium-1-3">
                <div class="medium-grid-pad-2x">
                        <h3 class="alpha fw400">Extraordinary education starts with extraordinary teachers.</h3>
                    <p class="h3 fw300">At Bethel, you’ll learn under passionate, engaged professors—many with Ivy League credentials—who will support you, challenge you, and collaborate with you on everything from high-level research to national conference presentations.</p>
                    <h3 class="h1 fw400">Learn from the best.</h3>
                    <p>Whether you’re rolling up your sleeves in our cadaver lab or connecting over a cup of coffee after class, our faculty will encourage you to pursue your passions and map out a path toward the career you’ve always wanted.</p>
                </div>
            </div>
            <div class="grid-cell">
                <div class="medium-grid-pad-2x">
                    <div class=" backgroundOffset --diagonalOrange">
                        <img id="acadImg" style="border-radius: 1em; transform: translate3d(4em, 0em, 0);" src="https://c2.staticflickr.com/6/5611/15582254420_b1ca6067bb_b.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bkg--yellow  bkg--squiggles" >
    <div class="inner">
        <div id="pp1" class="proofPoints  grid  pt4  pb3  ta--center">
            <div class="grid-cell  mr2--medium  mb2  bkg--white " style="border: 2px solid #ffc600; opacity: 1; border-radius: .5em;" >
                <div class="grid-pad-3x ">
                    
                            <img class="lazyload  pt1" alt="Market research" data-src="https://www.bethel.edu/undergrad/academics/real-experience/images/market-research.png" width="60">
                        
                            <p class="mv0  sans-serif  fw400" style="font-size:4.5em">97%</p>
                            <p class="h5  mv0  fw400 ">of recent grads are employed or in graduate school </p>

                </div>

            </div>
            <div class="grid-cell  mr2--medium  mb2  bkg--white " style="border: 2px solid #ffc600; opacity: 1; border-radius: .5em;">
                <div class="grid-pad-3x ">

                            <img class="lazyload  pt1" alt="Share your story" data-src="https://www.bethel.edu/undergrad/academics/real-experience/images/share-story.png" title="" style="" width="60">
  
                            <p class="mv0  sans-serif  fw400" style="font-size:4.5em">Top 15%</p>
                            <p class="h5  mv0  fw400">Best Colleges for your Money</p>
                            <small><i>— Money Magazine</i></small>

                </div>
            </div>
            <div class="grid-cell  mb2   bkg--white " style="border: 2px solid #ffc600; opacity: 1; border-radius: .5em;">
                <div class="grid-pad-3x ">
 
                            <img class="lazyload  pt1" alt="Hands-on learning" data-src="https://www.bethel.edu/undergrad/academics/real-experience/images/hands-on.png" width="60">

                            <p class="mv0  sans-serif  fw400" style="font-size:4.5em">100s</p>
                            <p class="h5  mv0  fw400 ">Business partnerships with companies like NASA, Medtronic, and 3M</p>

                </div>
            </div>
        </div>

    </div>
</section>

<section class="bkg--white  pv6">
    <div class="inner  pt4" >
        <div class="grid  pb4  mb6">
            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <div class="quote">
                        <div class="quote__avatar">
                            <img src="https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_nettleton-nicole.jpg">
                        </div>
                        <div class="quote__text">
                            <p>“One of my favorite aspects of Bethel was the relationships I formed with my peers and professors. The people I met there have forever impacted me by sharing their passions and helping me discover mine.”</p>
                            <cite class="quote__source">—Elise Krohn ’16, elementary education, TEFL teacher</cite>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <div class="quote">
                        <div class="quote__avatar">
                            <img class="lazyload" data-src="https://cdn2.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_lin-chin-chin.jpg"
                                title="">
                        </div>
                    
                        <div class="quote__text">
                            <p>“My professors have shown me that whatever the challenge ahead, it’s important to innovate, keep dreaming of the big picture, and work hard. This education has equipped me with skills I will use not only professionally, but also spiritually and personally, for the rest of my life.”</p>
                            <cite class="quote__source">—Andrew Hed ’17, media communication</cite>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid  grid--center  mt5  mb4--medium  pt2  pb4 pb6--medium" style="background: #ffe3651a;  border: 2px solid #ffc600; border-radius: 1em;">
            <div class="grid-cell  u-large-4-5 ">
                <div class="grid-pad-1x">
        
                    <div class="grid  grid--center">
                        <div class="grid-cell u-medium-1-1">
                            <div class="medium-grid-pad-1x">
                                <h2 class="beta  mb1  center  fw300">Find your major or program</h2>
                                <p class="h4  mb2  mb3--medium  fw400">We offer more than 100 areas of study for undergrads, as well as programs for adult undergrad, graduate,
                                    and seminary students. Enter a career or area of interest to find and compare majors, programs,
                                    certificates, and licenses.</p>
                            </div>

                        </div>
                    </div>                    
        
                    <form id="find-program-form" class="form--find-program  xjs-animateRevealUp" action="https://www.bethel.edu/academics/program-search"
                        method="GET">
                        <div class="search--program">
                            <input required name="search" id="find-program-txt" type="search" placeholder="Search for your program">
                            <button id="find-program-btn" class="btn" type="submit">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32">
                                    <title>Search</title>
                                    <desc>Search icon</desc>
                                    <path d="M31.008 27.231l-7.58-6.447c-0.784-0.705-1.622-1.029-2.299-0.998 1.789-2.096 2.87-4.815 2.87-7.787 0-6.627-5.373-12-12-12s-12 5.373-12 12c0 6.627 5.373 12 12 12 2.972 0 5.691-1.081 7.787-2.87-0.031 0.677 0.293 1.515 0.998 2.299l6.447 7.58c1.104 1.226 2.907 1.33 4.007 0.23s0.997-2.903-0.23-4.007zM12 20c-4.418 0-8-3.582-8-8s3.582-8 8-8 8 3.582 8 8-3.582 8-8 8z"></path>
                                </svg>
                                <span class="hide--small">Find programs</span>
                            </button>
                        </div>
                    </form>
        
                </div>
            </div>
        </div>

        <div class="grid mh6--medium  mb5">
            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <h3 class="alpha  fw400">Find by topic</h3>
                    <ul class="linkBlock">
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Healthcare</a></li>
                        <li><a href="#">Education</a></li>
                        <li><a href="#">Sciences</a></li>
                        <li><a href="#">Art &amp; Design</a></li>                        
                    </ul>
                </div>
            </div>
            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <h3 class="alpha  fw400">Find by school</h3>
                    <ul class="linkBlock">
                        <li><a href="#">Undergrad</a></li>
                        <li><a href="#">Graduate</a></li>
                        <li><a href="#">Adult Undergrad</a></li>
                        <li><a href="#">Bethel Seminary</a></li>
                        <li><a href="#">Online</a></li>
                        <li><a href="#">BUILD</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <h3 class="alpha  fw400">Find by degree</h3>
                    <ul class="linkBlock">
                        <li><a href="#">Doctorate</a></li>
                        <li><a href="#">Masters</a></li>
                        <li><a href="#">Bachelors</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


{{!-- Experience --}}
<section id="experience" class="pv6  realSection">
    <div class="bkg--diagonal2"></div>
    <div class="inner">
        <h2 class="delta  mt0  mb2  fw300  ta--center">Head-turning experience</h2>
        <div class="grid  mb3">
            <div class="grid-cell">
                <div class="medium-grid-pad-2x">
                    <div class="skewMedia --left  backgroundOffset --diagonalOrange">
                        <img style="border-radius: 1em; transform: translate3d(-4em, -3em, 0);"  src="https://c2.staticflickr.com/4/3934/15274523267_79b1616e45_b.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="grid-cell  u-medium-1-3">
                <div class="medium-grid-pad-2x">
                    <h3 class="alpha  fw400">Practice what you learn.</h3>
                    <p>Some of the best learning comes from doing. That’s why we weave hundreds of hands-on experiences into our programs—like collaborative research, internships, study abroad, and service learning, to name a few.</p>
                    <p>Whether you’re a computer science student designing a corporate website or an aspiring nurse participating in end-of-life simulations, you’ll take your learning beyond the classroom so that you’re prepared to be as impressive in practice as you are on paper.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bkg--yellow  bkg--squiggles" >
    <div class="inner">
        <div id="pp2" class="proofPoints  grid  pt4  pb3  ta--center">
            <div class="grid-cell  mr2--medium  mb2  bkg--white " style="border: 2px solid #ffc600; border-radius: .5em;" >
                <div class="grid-pad-3x ">
                    
                            <img class="lazyload  pt1" alt="Market research" data-src="https://www.bethel.edu/undergrad/academics/real-experience/images/market-research.png" width="60">
                        
                            <p class="mv0  sans-serif  fw400" style="font-size:4.5em">97%</p>
                            <p class="h5  mv0  fw400 ">of recent grads are employed or in graduate school </p>

                </div>

            </div>
            <div class="grid-cell  mr2--medium  mb2  bkg--white " style="border: 2px solid #ffc600; border-radius: .5em;">
                <div class="grid-pad-3x ">

                            <img class="lazyload  pt1" alt="Share your story" data-src="https://www.bethel.edu/undergrad/academics/real-experience/images/share-story.png" title="" style="" width="60">
  
                            <p class="mv0  sans-serif  fw400" style="font-size:4.5em">Top 15%</p>
                            <p class="h5  mv0  fw400">Best Colleges for your Money</p>
                            <small><i>— Money Magazine</i></small>

                </div>
            </div>
            <div class="grid-cell  mb2   bkg--white " style="border: 2px solid #ffc600; border-radius: .5em;">
                <div class="grid-pad-3x ">
 
                            <img class="lazyload  pt1" alt="Hands-on learning" data-src="https://www.bethel.edu/undergrad/academics/real-experience/images/hands-on.png" width="60">

                            <p class="mv0  sans-serif  fw400" style="font-size:4.5em">100s</p>
                            <p class="h5  mv0  fw400 ">Business partnerships with companies like NASA, Medtronic, and 3M</p>

                </div>
            </div>
        </div>

    </div>
</section>

<section class="bkg--white  pv6">
    <div class="inner">
        <div class="grid  mb5">
            <div class="grid-cell">
                <div class="grid-pad-2x">
                    <img class="lazyload mb2"  data-srcset="https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://c2.staticflickr.com/8/7237/7166150373_b763f233a6_o.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://c2.staticflickr.com/8/7237/7166150373_b763f233a6_o.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://c2.staticflickr.com/8/7237/7166150373_b763f233a6_o.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://c2.staticflickr.com/8/7237/7166150373_b763f233a6_o.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://c2.staticflickr.com/8/7237/7166150373_b763f233a6_o.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://c2.staticflickr.com/8/7237/7166150373_b763f233a6_o.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://c2.staticflickr.com/8/7237/7166150373_b763f233a6_o.jpg 1600w"
                        data-sizes="auto">
                    <h2>Neuroscience Research</h2>
                    <div>
                        <p>With a rare grant from the National Institute of Health, biology and psychology students collaborated with researchers at Boston University to advance modern science’s understanding and treatment of memory loss.</p>

                    </div>
                </div>
            </div>

            <div class="grid-cell">
                <div class="grid-pad-2x">
                    <img class="lazyload mb2"  data-srcset="https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://c2.staticflickr.com/8/7537/15695331636_14802496ff_o.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://c2.staticflickr.com/8/7537/15695331636_14802496ff_o.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://c2.staticflickr.com/8/7537/15695331636_14802496ff_o.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://c2.staticflickr.com/8/7537/15695331636_14802496ff_o.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://c2.staticflickr.com/8/7537/15695331636_14802496ff_o.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://c2.staticflickr.com/8/7537/15695331636_14802496ff_o.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://c2.staticflickr.com/8/7537/15695331636_14802496ff_o.jpg 1600w"
                        data-sizes="auto">
                    <h2>Student-Managed Investment Fund</h2>
                    <div>
                        <p>Our business and finance students manage a $1 million investment fund for both institutional and outside investors, providing them with unparalleled experience in the wealth management industry.</p>

                    </div>
                </div>
            </div>

            <div class="grid-cell">
                <div class="grid-pad-2x">
                    <img class="lazyload mb2"  data-srcset="https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/news/articles/2017/images/textura.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/news/articles/2017/images/textura.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/news/articles/2017/images/textura.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/news/articles/2017/images/textura.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/news/articles/2017/images/textura.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/news/articles/2017/images/textura.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://www.bethel.edu/news/articles/2017/images/textura.jpg 1600w"
                        data-sizes="auto">
                    <h2>Textura Magazine</h2>
                    <div>
                        <p>After spending three weeks documenting the triumphs and challenges of one Guatemalan community, our art and journalism students collaborated to produce a national award-winning cultural magazine.</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="grid  mb5">
            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <div class="quote">
                        <div class="quote__avatar">
                            <img src="https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_nettleton-nicole.jpg">
                        </div>
                        <div class="quote__text">
                            <p>“My college experience not only gave me the knowledge I needed to pursue a career in medicine, but also provided me with opportunities to gain real-life skills that increased my confidence as both a researcher and a Christian. Having this experience in a Christian environment allowed me to learn with others who share similar core values and reminded me that faith can exist in every aspect of our lives."</p>
                            <cite class="quote__source">—Hannah Manion ’18, biology and Spanish</cite>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <div class="quote">
                        <div class="quote__avatar">
                            <img class="lazyload" data-src="https://cdn2.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_lin-chin-chin.jpg"
                                title="">
                        </div>
                    
                        <div class="quote__text">
                            <p>“I’m extremely grateful I got a liberal arts education. I didn’t just learn the answers in undergrad—I learned how to find the answers myself while working through problems and issues, and how to apply what I learned in different settings. I wouldn’t be where I am today without my Bethel degree, and I wouldn’t trade it for anything.”</p>
                            <cite class="quote__source">—Ryan Wahlund ’06, biblical and theological studies, risk management consultant</cite>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- Faith --}}
<section  id="faith" class="mt4  pt6  realSection">
    <div class="bkg--diagonal2"></div>
    <div class="inner">
        <h2 class="mt0  mb2  fw300  ta--center  delta">Life-changing faith</h2>
        <div class="grid  mb3">
            <div class="grid-cell u-medium-1-3">
                <div class="medium-grid-pad-2x">
                    <h3 class="alpha fw400">Live what you believe.</h3>
                    <p>Beyond academics, there's something that draws Bethel students together. It's a sense of calling, a commitment to shared values, and a deep desire to fulfill a greater purpose.</p>
                    <p>You’ll be challenged to think critically about your convictions and consider some of life’s most difficult questions from a Christian perspective. And when you take your place in our increasingly diverse world, you’ll know what it means to own your faith and live for something more.</p>
                </div>
            </div>
            <div class="grid-cell">
                <div class="medium-grid-pad-2x">
                    <div class=" backgroundOffset --diagonalOrange">
                            <video id="video" class="u-posRel" style="border-radius: 1em;z-index:10;" loop="true" preload="none" src="https://www.bethel.edu/_homepages/www/images/welcome-week-2016-video.mp4"></video>

                            <script>
                            // Show loading animation.
                            var playPromise = video.play();

                            if (playPromise !== undefined) {
                                playPromise.then(_ => {
                                // Automatic playback started!
                                // Show playing UI.
                                })
                                .catch(error => {
                                // Auto-play was prevented
                                // Show paused UI.
                                });
                            }
                            </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid  mb5">
            <div class="grid-cell">
                <div class="grid-pad-2x">
                    <img class="lazyload mb2"  data-srcset="https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://c2.staticflickr.com/8/7215/7401407656_b8444de1c5_b.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://c2.staticflickr.com/8/7215/7401407656_b8444de1c5_b.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://c2.staticflickr.com/8/7215/7401407656_b8444de1c5_b.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://c2.staticflickr.com/8/7215/7401407656_b8444de1c5_b.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://c2.staticflickr.com/8/7215/7401407656_b8444de1c5_b.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://c2.staticflickr.com/8/7215/7401407656_b8444de1c5_b.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://c2.staticflickr.com/8/7215/7401407656_b8444de1c5_b.jpg 1600w"
                        data-sizes="auto">
                    <h2>Chapel</h2>
                    <div>
                        <p>Here, attending Chapel is a choice. Three times a week, you’ll have the opportunity to learn from campus pastors and renowned speakers who will inspire and challenge you to set your faith in motion.</p>

                    </div>
                </div>
            </div>

            <div class="grid-cell">
                <div class="grid-pad-2x">
                    <img class="lazyload mb2"  data-srcset="https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://c1.staticflickr.com/5/4538/38186429242_6149f592d2_b.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://c1.staticflickr.com/5/4538/38186429242_6149f592d2_b.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://c1.staticflickr.com/5/4538/38186429242_6149f592d2_b.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://c1.staticflickr.com/5/4538/38186429242_6149f592d2_b.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://c1.staticflickr.com/5/4538/38186429242_6149f592d2_b.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://c1.staticflickr.com/5/4538/38186429242_6149f592d2_b.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://c1.staticflickr.com/5/4538/38186429242_6149f592d2_b.jpg 1600w"
                        data-sizes="auto">
                    <h2>SHIFT</h2>
                    <div>
                        <p>It’s our goal to make students feel welcomed and cared for on day one. Our Shift ministry will invest in your spiritual development and help you build community on your freshman floor while you transition to college life. </p>

                    </div>
                </div>
            </div>

            <div class="grid-cell u-medium-1-3">
                <div class="grid-pad-2x">
                    <img class="lazyload mb2"  data-srcset="https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://c2.staticflickr.com/8/7231/7401400560_e386eace5a_b.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://c2.staticflickr.com/8/7231/7401400560_e386eace5a_b.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://c2.staticflickr.com/8/7231/7401400560_e386eace5a_b.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://c2.staticflickr.com/8/7231/7401400560_e386eace5a_b.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://c2.staticflickr.com/8/7231/7401400560_e386eace5a_b.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://c2.staticflickr.com/8/7231/7401400560_e386eace5a_b.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://c2.staticflickr.com/8/7231/7401400560_e386eace5a_b.jpg 1600w"
                        data-sizes="auto">
                    <h2>Vespers</h2>
                    <div>
                        <p>Experience the power of communal worship with hundreds of your peers at our Sunday evening Vespers services, led entirely by student vocalists and instrumentalists who are passionate about ministering through music. </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="grid  mb5">
            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <div class="quote">
                        <div class="quote__avatar">
                            <img src="https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_nettleton-nicole.jpg">
                        </div>
                        <div class="quote__text">
                            <p>“My college experience not only gave me the knowledge I needed to pursue a career in medicine, but also provided me with opportunities to gain real-life skills that increased my confidence as both a researcher and a Christian. Having this experience in a Christian environment allowed me to learn with others who share similar core values and reminded me that faith can exist in every aspect of our lives."</p>
                            <cite class="quote__source">—Hannah Manion ’18, biology and Spanish</cite>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid-cell">
                <div class="grid-pad-1x">
                    <div class="quote">
                        <div class="quote__avatar">
                            <img class="lazyload" data-src="https://cdn2.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu//_shared-content/quotes/images/cas__business_lin-chin-chin.jpg"
                                title="">
                        </div>
                    
                        <div class="quote__text">
                            <p>“I’m extremely grateful I got a liberal arts education. I didn’t just learn the answers in undergrad—I learned how to find the answers myself while working through problems and issues, and how to apply what I learned in different settings. I wouldn’t be where I am today without my Bethel degree, and I wouldn’t trade it for anything.”</p>
                            <cite class="quote__source">—Ryan Wahlund ’06, biblical and theological studies, risk management consultant</cite>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!-- News & Events --}}
<section class="grid-section  pv6  mt0">
    <div class="inner">
        <h2 class="center  mb1  beta  fw300">News &amp; Events</h2>
        <div class="grid">
            <div class="grid-cell u-medium-1-2  pr4@medium  mb4">
                <div class="grid-pad-1x">{{> news }}</div>
            </div>
            <div class="grid-cell">
                <div class="grid-pad-1x">{{> events }}</div>
            </div>
        </div>
    </div>
</section>

{{> section--request-info }}

<section class="grid-section  mt0  pv5  bkg--white">
    {{!-- <h2 class="center  mb1  beta  fw300">Take the Next Step</h2> --}}

    <div class="inner">   
        
        <div class="grid mt4">
            <div class="grid-cell  mb5  mb0--medium">
                <div class=" medium-grid-pad-2x ">
                    <h3 class="beta  fw300">Visit Us</h3>
                    <p>Lorem ipsum dolor sit Mollitia eligendi consequatur quas tempora libero magni veritatis debitis ab
                        nam quam.
                    </p>
                    <p class="mb3"><a class="btn">Schedule a visit</a></p>
                    {{> events }}
                </div>
            </div>
            <div class="grid-cell">
                <div class=" medium-grid-pad-2x ">
                    <h3 class="beta  fw300">Apply Now</h3>
                    <img src="https://cdn1.bethel.edu/resize/unsafe/700x0/smart/https://www.bethel.edu/_homepages/www/images/macbook.png" alt="">
                    <p>Lorem ipsum dolor sit Mollitia eligendi consequatur quas tempora libero magni veritatis debitis ab
                        nam quam.
                    </p>
                    <p><a class="btn">Start your application</a></p>

                </div>
            </div>
        </div>
    </div>
</section>

