---
title: Quotes
layout: default
pageTitle: Test title
---

<div class="carousel-constrain">
    {{> moving-picture }}
</div>

<div class="inner--content">
    <div class="page__title">
        <h1 itemprop="name">Admissions</h1>
        <p class="breadcrumb"></p>
    </div>

<div class="grid">
    <div class="grid-cell">{{> quotes }}</div>
    <div class="grid-cell">{{> quotes }}</div>
</div>

</div>
