---
title: LAYOUT
layout: default.hbs
---

<div class="section--home__holder  section--home__academics  parallax">
	<div class="inner">
		<div class="grid">
			<div class="grid-cell u-medium-1-2">
				<div class="grid-pad-2x">				
					<h2>Make discoveries that reach beyond the classroom.</h2>	
					<p>Find out how a Bethel education will prepare you to follow your dreams, do work that matters, and live with purpose.</p>
					<ul>
						<li><a href="#">Undergrad majors and minors</a></li>
						<li><a href="#">Adult undergrad degrees</a></li>
						<li><a href="#">Graduate programs</a></li>
						<li><a href="#">Seminary programs</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="section--home__holder  section--home__faith  parallax">
	<div class="inner">
		<div class="grid">
			<div class="grid-cell  u-medium-1-2">
				<div class="grid-pad-2x">
					<h2>Live out your faith.</h2>
					<p>We work hard to understand Christ’s message and try our best to spread his love, every day. Here's what it looks like.</p>
					<ul>
						<li><a href="//www.bethel.edu/about/faith">Faith at Bethel</a></li>
						<li><a href="//www.bethel.edu/undergrad/campus-ministries">Worship &amp; Ministry</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</div>

<div class="section--home__holder  section--home__community  parallax">
	<div class="inner">
		<div class="grid">
			<div class="grid-cell u-medium-1-2">
				<div class="grid-pad-2x">				
					<h2>Join a community you’ll call home.</h2>	
					<p>Our students are gracious servants, compassionate friends, and thoughtful neighbors who are intentional about helping each other grow, and having a lot of fun while they're at it.</p>
					<ul>	
						<li><a href="//www.bethel.edu/undergrad/student-life/">Student Life at Bethel</a></li>
						<li><a href="//www.bethel.edu/undergrad/student-life/activities/">Clubs &amp; Organizations</a></li>
						<li><a href="//www.bethel.edu/undergrad/student-life/activities/">Athletics</a></li>
						<li><a href="//www.bethel.edu/undergrad/student-life/housing-dining/">Housing &amp; Dining</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
</div>


<div class="section--home__holder  section--home__story">
	<div class="inner">
		<div class="grid">
			<div class="grid-cell  u-medium-1-2  u-large-2-5">
				<h2>Your story starts here.</h2>
				<p>You’re looking for a place where you can</p>
				<h3>challenge yourself, support the people around you, find community, laugh...a lot, learn new things, live out your faith, make a difference, serve your neighbors, explore the world, create hope, work hard, dream big, live with purpose, have tons of fun, ask important questions, spread Christ’s love</h3>
				<p>Bethel is that place. Here, you’ll be challenged to think critically and creatively as you make discoveries that can change the world. You’ll be supported by a community of friends and mentors as you follow your dreams and discover your purpose. And you’ll be inspired to do and be your best as you find new ways to spread Christ’s love. 
				You were made to accomplish incredible things. Get started at Bethel.</p>
				<p class="mt2"><a href="//www.bethel.edu/admissions/request-info/" class="btn  mr1">Request info</a> <a href="//www.bethel.edu/admissions/apply/" class="btn">Start your application</a></p>			
			</div>
		</div>
	</div>	
</div>
