---
title: Program Search
layout: default
pageTitle: Program Search
---

<div class="inner--content">

    {{> page__title }}

            <div class="main">
    <div id="program-search-form-and-results">
    <p>We offer more than 100 areas of study for undergrads, as well as programs for adult undergrad, graduate, and seminary students.</p>
        <form class="form--find-program  pv1  pv4--medium" onkeypress="return event.keyCode != 13;">
            {{!-- <input class="search--program" onkeyup="delayProgramSearch(this.value);" placeholder="Search" type="text"> --}}
            <div class="search--progra">
                <input type="search" placeholder="Search for your program" id="search-text" onkeyup="delayProgramSearch(this.value);">
                <button class="btn"><span>Q</span><span class="hide--small">Find programs</span></button>
            </div>

        <div class="grid">
        <div class="grid-cell u-medium-1-3">
            <div class="collapsible">
                <h4 class="collapsible-heading">Search Filters</h4>
                <div class="collapsible-block">
                <div class="grid">
                    <div class="grid-cell">
                        <div class="grid-pad-1x">
                            <h4>Degree Type</h4>
                            <label for="All"><input checked="checked" id="all" name="degree" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="radio" value="All"> All</label>
                            <label for="Associate's"><input id="associate's" name="degree" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="radio" value="Associate's"> Associate's</label>
                            <label for="Bachelor's"><input id="bachelor's" name="degree" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="radio" value="Bachelor's"> Bachelor's</label>
                            <label for="Master's"><input id="master's" name="degree" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="radio" value="Master's"> Master's</label>
                            <label for="Doctoral"><input id="doctoral" name="degree" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="radio" value="Doctoral"> Doctoral</label>
                            <label for="License's"><input id="license's" name="degree" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="radio" value="License's"> License's</label>
                            <label for="Certificate's"><input id="certificate's" name="degree" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="radio" value="Certificate's"> Certificate's</label>
                        </div> 
                    </div>
                    <div class="grid-cell">
                        <div class="grid-pad-1x">
                            <h4>School</h4>
                            <label for="undergrad"><input checked="checked" id="undergrad" name="school" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="checkbox" value="Undergrad"> Undergrad</label>
                            <label for="adultundergrad"><input checked="checked" id="adultundergrad" name="school" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="checkbox" value="Adult Undergrad"> Adult Undergrad</label>
                            <label for="graduate"><input checked="checked" id="graduate" name="school" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="checkbox" value="Graduate"> Graduate</label>
                            <label for="seminary"><input checked="checked" id="seminary" name="school" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="checkbox" value="Seminary"> Seminary</label>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="grid-pad-1x">
                            <h4>Delivery Type</h4>
                            <label for="FacetoFace"><input checked="checked" id="facetoface" name="delivery" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="checkbox" value="Face to Face"> Face to Face</label>
                            <label for="Blended"><input checked="checked" id="blended" name="delivery" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="checkbox" value="Blended"> Blended</label>
                            <label for="Online"><input checked="checked" id="online" name="delivery" onchange="searchPrograms(document.getElementById(&quot;search-text&quot;).value)" type="checkbox" value="Online"> Online</label>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
        </div>

        <div class="grid-cell">
            <div class="program-search">
                <div class="mb4">
                <h2>Associate's Degrees</h2>
                <div class="grid  program-search__table-head">
                    <div class="grid-cell">Name</div>
                    <div class="grid-cell">Degree Level</div>
                    <div class="grid-cell">Delivery</div>
                    <div class="grid-cell">Compare</div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a class="" href="#">Associate of Arts</a></div>
                    <div class="grid-cell"><span class="icon  icon--adult"></span><span class="degree-level">Adult Degree Completion</span></div>
                    <div class="grid-cell">Face to Face, Online</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a class="" href="#">Accounting</a></div>
                    <div class="grid-cell"><span class="icon  icon--major"></span><span class="degree-level">Major</span></div>
                    <div class="grid-cell">Face to Face</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a class="" href="#">Biblical and Theological Studies</a></div>
                    <div class="grid-cell"><span class="icon  icon--minor"></span><span class="degree-level">Minor</span></div>
                    <div class="grid-cell">Face to Face</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a class="" href="#">Name of the program</a></div>
                    <div class="grid-cell"><span class="icon  icon--major"></span><span class="degree-level">Major</span></div>
                    <div class="grid-cell">Online</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                </div>

                <div class="mb4">
                <h2>Bachelor's Degrees</h2>
                <div class="grid  program-search__table-head">
                    <div class="grid-cell">Name</div>
                    <div class="grid-cell">Degree Level</div>
                    <div class="grid-cell">Delivery</div>
                    <div class="grid-cell">Compare</div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a href="#">Associate of Arts</a></div>
                    <div class="grid-cell">Adult Degree Completion</div>
                    <div class="grid-cell">Face to Face, Online</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a href="#">Accounting</a></div>
                    <div class="grid-cell">Major</div>
                    <div class="grid-cell">Face to Face</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a href="#">Biblical and Theological Studies</a></div>
                    <div class="grid-cell">Minor</div>
                    <div class="grid-cell">Face to Face</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                <div class="grid">
                    <div class="grid-cell"><a href="#">Name of the program</a></div>
                    <div class="grid-cell">Major</div>
                    <div class="grid-cell">Online</div>
                    <div class="grid-cell"><input type="checkbox"></div>
                </div>
                </div>
            </div>
        </div>

        </div>
        </div>

    </div>
</div>