---
title: Admissions
layout: default
pageTitle: Admissions Routing
---

<div class="inner--content">
    <div class="page__title">
        <h1 itemprop="name">Admissions</h1>
        <p class="breadcrumb"></p>
    </div>

    <div class="grid  grid--wrap  mt3  routing">

        <div class="grid-cell routing__item  u-medium-1-2  u-large-1-4">

            <img alt="A student works on pottery" class="lazyload" data-sizes="auto" data-srcset="https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 200w" src="https://cdn1.bethel.edu/resize/unsafe/320x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg" srcset="https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-undergrad.jpg 200w" sizes="252px">
            <div class="grid-pad-2x">
                <h2><a href="https://www.bethel.edu/undergrad/admissions/">Undergrad</a></h2>
                <p>For recent high school grads and transfer students looking for an outstanding liberal arts education within a vibrant Christian community.</p>
                <ul>
                    <li><a href="https://www.bethel.edu/undergrad/admissions/apply/">Apply now</a></li>
                    <li><a href="https://www.bethel.edu/undergrad/admissions/visit/">Visit campus</a></li>
                    <li><a href="https://www.bethel.edu/undergrad/admissions/contact/request-information/">Request info</a></li>
                    <li><a href="https://www.bethel.edu/undergrad/financial-aid/">Financial aid</a></li>
                </ul>
            </div>
 
        </div>

        <div class="grid-cell routing__item  u-medium-1-2  u-large-1-4">

                <img alt="An adult graduates" class="lazyload" data-sizes="auto" data-srcset="https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 200w" src="https://cdn1.bethel.edu/resize/unsafe/320x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg" srcset="https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-adult-undergrad.jpg 200w" sizes="252px">
                <div class="grid-pad-2x ">
                    <h2><a href="https://www.bethel.edu/adult-undergrad/admissions/">Adult Undergrad</a></h2>
                    <p>For working adults of all ages, experience levels, and backgrounds who want to complete their undergraduate degree or start their college education.</p>

                    <ul>
                    <li><a href="https://www.bethel.edu/adult-undergrad/admissions/apply/">Apply now</a></li>
                    <li><a href="https://www.bethel.edu/adult-undergrad/admissions/contact/request-information/">Request info</a></li>
                    <li><a href="https://www.bethel.edu/adult-undergrad/financial-aid/">Financial aid</a></li>
                    </ul>
                    
                    {{!-- <a href="#"><span class="btn btn-small">Learn More</span></a> --}}
                </div>

        </div>

        <div class="grid-cell routing__item  u-medium-1-2  u-large-1-4">

                <img alt="An adult student studies" class="lazyload" data-sizes="auto" data-srcset="https://cdn4.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 1400w, https://cdn4.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 1200w, https://cdn4.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 1000w, https://cdn4.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 800w, https://cdn4.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 600w, https://cdn4.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 400w, https://cdn4.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 200w" src="https://cdn4.bethel.edu/resize/unsafe/320x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg" srcset="https://cdn4.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 1400w, https://cdn4.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 1200w, https://cdn4.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 1000w, https://cdn4.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 800w, https://cdn4.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 600w, https://cdn4.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 400w, https://cdn4.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-graduate.jpg 200w" sizes="252px">
                <div class="grid-pad-2x ">
                    <h2><a href="https://www.bethel.edu/graduate/admissions/">Graduate</a></h2>
                    <p>For professionals interested in earning advanced degrees that will move them forward in their careers and allow them to grow as leaders.</p>
                    <ul>
                        <li><a href="https://www.bethel.edu/graduate/admissions/apply/">Apply now</a></li>
                        <li><a href="https://www.bethel.edu/graduate/admissions/contact/request-information/">Request info</a></li>
                        <li><a href="https://www.bethel.edu/graduate/financial-aid/">Financial aid</a></li>
                    </ul>
                    {{!-- <a href="#"><span class="btn btn-small">Learn More</span></a> --}}

                </div>

        </div>

        <div class="grid-cell routing__item  u-medium-1-2  u-large-1-4">

                <img alt="A seminary student is in class" class="lazyload" data-sizes="auto" data-srcset="https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 200w" src="https://cdn1.bethel.edu/resize/unsafe/320x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg" srcset="https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/200x0/smart/https://www.bethel.edu/admissions/images/admissions-seminary.jpg 200w" sizes="252px">
                <div class="grid-pad-2x ">
                    <h2><a href="https://www.bethel.edu/seminary/admissions/">Seminary</a></h2>
                    <p>For men and women, of all ages, who sense a calling to ministry—youth, urban, rural, cross-cultural, and a growing range of unconventional settings.</p>
                    <ul>
                        <li><a href="https://www.bethel.edu/seminary/admissions/apply/">Apply</a></li>
                        <li><a href="https://www.bethel.edu/seminary/admissions/contact/request-information/">Request Information</a></li>
                        <li><a href="https://www.bethel.edu/seminary/financial-aid/">Financial Aid</a></li>
                    </ul>
                    {{!-- <a href="#"><span class="btn btn-small">Learn More</span></a> --}}

                </div>
            </div>
    </div>

    <section class="grid  mv6">
        <div class="grid-cell  u-medium-1-2">
            <div class="grid-pad-2x">
            <h2>FAQs</h2>
            <ul class="pl1">
                <li><a href="#">What are the requirements for admission to Bethel?</a></li>
                <li><a href="#">Can I apply online?</a></li>
                <li><a href="#">How religious do I have to be to attend Bethel? Do I have to be a Christian?</a></li>
                <li><a href="#">Is an interview required?</a></li>
                <li><a href="#">When will I hear if I'm accepted?</a></li>
                <li><a href="#">How much does Bethel cost and is financial aid available?</a></li>
                <li><a href="#">How do I set up an appointment with a Bethel admissions counselor?</a></li>
            </ul>
            <p class="mt2"><a href="#" class="btn  btn-small">See all FAQs</a></p>
            </div>
        </div>
        <div class="grid-cell  u-medium-1-2">
            <div class="grid-pad-2x">
            <h2>Why Bethel?</h2>
            <p>Higher learning that's transformational—that's the Bethel University difference. We’re not only an academically rigorous university, we’re also a Christian community where faculty, coaches, staff, and students push one another to become better scholars, leaders, and servants in our communities.</p>
            <p>Read more about the distinct advantages of Bethel, for all of our students.</p>
            <p class="mt2"><a href="#" class="btn  btn-small">Learn More</a></p>
            </div>
        </div>

    </section>

    <div class="grid">
        <div class="grid-cell  u-medium-3-5">
            <div class="medium-grid-pad-2x">
            
                    <div class="bigList">
                        <div class="bigList__item">
                            <div class="bigList__body">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, quasi. Corrupti perspiciatis rerum ex aliquid. At exercitationem maiores quidem harum?</p>    
                            </div>
                        </div>
                        <div class="bigList__item">
                                <div class="bigList__body">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, quasi. Corrupti perspiciatis rerum ex aliquid. At exercitationem maiores quidem harum?</p>    
                                </div>
                            </div>
                            <div class="bigList__item">
                                    <div class="bigList__body">
                                        <h3>Lorem ipsum dolor sit amet</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias, quasi. Corrupti perspiciatis rerum ex aliquid. At exercitationem maiores quidem harum?</p>    
                                    </div>
                                </div>
                    </div>
            
            </div>
        </div>
        <div class="grid-cell">
            <div class="medium-grid-pad-2x">
                <div class="pull-quotex">
                    <p class="pull-quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam facilis adipisci minus quam porro cum, aliquam debitis officiis molestiae at.</p>
                    <p class="pull-quote__attribution">- Name Personburg</p>
                </div>
            </div>
        </div>
    </div>

</div>