---
title: Program Search
layout: default
pageTitle: Program Search
---

<div class="main">
    <div class="program-search">
        <div class="mb4">
        <h2>Associate's Degrees</h2>
        <div class="grid  program-search__table-head">
            <div class="grid-cell  ph1--medium">Name</div>
            <div class="grid-cell  ph1--medium">Degree Level</div>
            <div class="grid-cell  ph1--medium">Delivery</div>
            <div class="grid-cell  ph1--medium">Compare</div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a class="" href="#">Associate of Arts</a></div>
            <div class="grid-cell  ph1--medium"><span class="icon  icon--adult"></span>Adult Degree Completion</div>
            <div class="grid-cell  ph1--medium">Face to Face, Online</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a class="" href="#">Accounting</a></div>
            <div class="grid-cell  ph1--medium"><span class="icon  icon--major"></span>Major</div>
            <div class="grid-cell  ph1--medium">Face to Face</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a class="" href="#">Biblical and Theological Studies</a></div>
            <div class="grid-cell  ph1--medium"><span class="icon  icon--minor"></span>Minor</div>
            <div class="grid-cell  ph1--medium">Face to Face</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a class="" href="#">Name of the program</a></div>
            <div class="grid-cell  ph1--medium"><span class="icon  icon--major"></span>Major</div>
            <div class="grid-cell  ph1--medium">Online</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        </div>

        <div class="mb4">
        <h2>Bachelor's Degrees</h2>
        <div class="grid  program-search__table-head">
            <div class="grid-cell  ph1--medium">Name</div>
            <div class="grid-cell  ph1--medium">Degree Level</div>
            <div class="grid-cell  ph1--medium">Delivery</div>
            <div class="grid-cell  ph1--medium">Compare</div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a href="#">Associate of Arts</a></div>
            <div class="grid-cell  ph1--medium">Adult Degree Completion</div>
            <div class="grid-cell  ph1--medium">Face to Face, Online</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a href="#">Accounting</a></div>
            <div class="grid-cell  ph1--medium">Major</div>
            <div class="grid-cell  ph1--medium">Face to Face</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a href="#">Biblical and Theological Studies</a></div>
            <div class="grid-cell  ph1--medium">Minor</div>
            <div class="grid-cell  ph1--medium">Face to Face</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        <div class="grid">
            <div class="grid-cell  ph1--medium"><a href="#">Name of the program</a></div>
            <div class="grid-cell  ph1--medium">Major</div>
            <div class="grid-cell  ph1--medium">Online</div>
            <div class="grid-cell  ph1--medium"><input type="checkbox"></div>
        </div>
        </div>
    </div>
</div>