.bu-personal {
	// clear: both;
	// margin: 0px;
	padding: 1.5em 0 .5em;
	overflow: auto;

	ul {
		float: right;
		margin: 0;
		padding: 0px 8px;
	}

	li {
		float: left;
		padding: 0 7px;
		list-style: none;
		font-size: 12px;
	}
}


.bu-topbar-welcome {
	float: right;
	padding: 0 15px 0 0;
	margin: 0;
	font-size: 12px;
}

.calendar-title {
	width: 100%;
	padding: 1em 0;
	// text-align: center;
	position: relative;
	display: flex;
	flex: 1;
	justify-content: space-around;
	align-items: center;
	
	.calendar-title__month {
		margin: 0;
		padding: 0;
	}

	.previous-month,
	.next-month {
		background: $bethel--blue;
		border-radius: 50%;
		width: 1.5rem;
		height: 1.5rem;
		color: #fff;
		text-align: center;
	}

	.previous-month:hover,
	.next-month:hover {
		background: $bethel--navy;
		// color: #fff;
		text-decoration: none;
	}
}
	
.calendar-toolbar {
	width: 100%;
	border: 1px solid #ddd;
	border-bottom: 0;
	background: #e9e9e9; 
	position: relative;
	display: table;
	display: flex;
	flex: 1;
	padding: .5em 1em;

	a {
		margin: .5em;
		font-size: .7rem;
	}

	.active {
		background: $bethel--navy;
	}
}

.view-mode--grid,
.view-mode--list {
	display: none;

	@include respond-min(800px){
		display: block;
	}
}


.calendar-grid .days-of-the-week ul {
	width:  100%;
	border: 1px solid #ddd;
	// background: #f2f7fa;
	display: flex;
	margin: 0;
	padding: 0;
}

.days-of-the-week ul li {
	list-style: none;
	text-align: center;
	font: bold .7em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	padding: 1em 0;
	flex:1;
}

/* Grid Styles */

.calendar-grid .event-description,
.calendar-grid .category,
.calendar-grid .day {
	display: none;
}

.calendar-grid ul.calendar-row {
	width:  100%;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ddd;
	min-height: 110px;
	text-align: right;
	display: flex;
}

.calendar-grid .calendar-row li {
	padding: .5em;
	list-style: none;
	font: normal 11px/14px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	flex: 1;
	border-left: 1px solid #ddd;
	min-height: 110px;
}

		.calendar-grid .calendar-row li dl {
			margin: 0;
			padding: 0;
			overflow: auto;
		}
	
			.calendar-grid .calendar-row li dl dt {
				text-align: left;
				margin: 0;
				padding: 0 0 5px 5px;
				float: left;
				display: block;
				clear: both;
			}

			// Places the list bullet
			.calendar-grid .calendar-row li dl dt:before {
				content: "•";
				float:left;
				color: $bethel--blue;
			}
			
			.calendar-grid .calendar-row li dl dt a {
				margin: 0;
				padding: 0 0 0 10px;
				text-indent: 0px;	
				display: block;
			}
						
			.calendar-grid ul.calendar-row p {
				text-align: left;
				margin: 0 0 10px;
				padding: 0;
			}	
			
			.calendar-grid .calendar-row li > span {
				margin: 0 0 .5em;
				display: block;
			}
			
			.holiday {
				color: $bethel--yellow;
				padding: 0;
			}
			
			.calendar-grid .not-current,
			.calendar-grid .not-current dt a {
				color: #999;
			}
			
			// Places the list bullet
			.calendar-grid .calendar-row li.not-current dl dt:before {
				color: #999;				
			}

			.calendar-grid .calendar-row li dl dd {
				display: none;
			}

/* List Styles */

.calendar-list .days-of-the-week,
.calendar-list.month .not-current {
	display: none;
}

.calendar-list .calendar-row {
	margin: 0;
	padding: 0;
	border-left: 1px solid #ddd;
}

.calendar-list .calendar-row li {
	list-style: none;
	// width: 100%;
	border-bottom: 1px solid #ddd;
	// margin: 0;
	// padding: 10px 15px;
	// overflow:auto;
	display:flex;
}

// Number
.calendar-list .calendar-row li > span {
	// width: 3em;
	// color: #667;
	font-size: 2em;		
	// text-align: center;
	// float: left;
	// margin-right: 1em;
	flex: 1;
	padding: 0 .5em;
}

@media screen and (min-width: 0\0) {
    .calendar-list .calendar-row li>span {
        padding-right:1em
    }
}

	// .calendar-list .calendar-row li p {
	// 	clear: both;
	// 	margin: -18px 0 18px 80px;
	// 	padding: 0;
	// }

.calendar-list .calendar-row li dl {
	margin: 0;
	// padding: 0;
	font: bold 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
	// overflow: auto;
	flex: 7;
}

.calendar-list .calendar-row .vevent {
	overflow: auto;
	padding: 1em 0;
	border-bottom: 1px solid #ddd;
	display: flex;
}

.calendar-list .calendar-row .vevent:last-child {
    border-bottom: none;
}
	
		.calendar-list .calendar-row li dl dt {
			// float: left;
			// width: 220px;
			// margin: 0;
			// padding: 0;
			// clear: both;
			font-weight: normal;
			// line-height: 18px;
			flex: 1;
		}
		
		// .calendar-list .calendar-row li dl dt ~ dt,
		// .calendar-list .calendar-row li dl dd ~ dd {
		// 	margin-top: 15px;
		// }

			.calendar-list .calendar-row li dl dd {
				// width: 660px;
				// width: auto;
				// float: left;
				// margin-left: 2em;
				// padding: 0 0 0px;
				font-weight: normal;
				flex: 2;
				padding-right: 1em;
				display: block;
			}
			
				// .calendar-list .calendar-row li dl .event-description {
				// 	width: 380px;
				// 	float: left;

				// }
				
					// .calendar-list .calendar-row li ul {
					// 	float: left;
					// 	margin: 1px 0 0 20px;
					// 	padding: 0;
					// 	width: 210px;
					// }
		
					// 	.calendar-list .calendar-row li ul li {
					// 		width: 210px;
					// 		border-bottom: none;
					// 		color: #999;
					// 		margin: 0 0px;
					// 		padding: 0;
					// 		min-height: 0;
					// 		font: normal 11px/18px "Lucida Grande", "Lucida Sans Unicode", sans-serif;
					// 	}


#calendar-main {
	height: auto !important;
	min-height: 200px;
	// float: left;
	border-right: 1px solid #ddd;
	border-bottom: 0;
	margin-bottom: 40px;
	width: 100%;
}

/* event hovers in grid mode */
#event-hover {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  width: 200px;
  position: absolute;
  box-shadow: 1px 3px 5px #999;
}
#event-hover .event-description, 
#event-hover .category { display: block; }

#event-hover span.location {
	display: block;
	font-weight: bold;
}

.dtstart, .dtend {
  display: none;
}
#event-hover .categories {
  list-style: none;
  margin: 1ex 0 0 0;
  padding: 0;
}
#event-hover .category {
  display:inline;
  width: auto;
  margin: 0;
  padding: 0 1ex 0 0;
}
#event-hover .category:after {
  content: ", "
}
#event-hover .category:last-child:after {
  content: ""
}



.filter-dropdown {
	background-color: #fff;
	padding: 2em;
	display: none;
}

.filter-content p, .filter-content li {
	// float: none;
	// clear: both;
	font: normal 12px/16px Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.filter-content .alert-message {
	text-align: center;
	margin: 10px 15%;
	top: 0;
}