

.flickity--cell {
    width: 100%;
    overflow: hidden;
}

.flickity .flickity--cell {
    visibility: hidden;
}

.flickity-enabled .flickity--cell {
    visibility: visible;
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 40px;
  height: 40px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}