.flickity {
  background: #FAFAFA;
  width: 80%;
  margin: auto;
  min-width: 320px;
  max-width: 1200px;
  // height: 200px;
}

.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: 600ms opacity;
  background: #f7f7f7 url(https://afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 60px;
}

.lazyloaded {
  opacity: 1;
  transition: 100ms opacity;
}

.flickity--cell {
  width: 55%;
  // height: 200px;
  margin-right: 10px;
  background: #333;
}

.flickity--cell img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  max-width: 100%;
}



.flickity--cell {
    // width: 100%;
    // overflow: hidden;
    // background-color: tomato;
}

// .flickity .flickity--cell {
//     visibility: hidden;
// }

// .flickity-enabled .flickity--cell {
//     visibility: visible;
// }

/* buttons, no circle */
.flickity-prev-next-button {
  width: 40px;
  height: 40px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}