<div class="slick-carousel  carousel--overlay">
    <div class="slick-item">
        <a href="http://bethel.edu/stories/patrick-keefe" title="">
            <img class="feature__img" src="https://cdn2.bethel.edu/resize/unsafe/1500x0/smart/http://www.bethel.edu/stories/images/profile-keefe-home.jpg" style="opacity: 1;" title="">
            <figure class="feature__figure">
                <blockquote class="feature__blockquote">I find meaning in my work every day.</blockquote>
                <figcaption class="feature__figcaption">Patrick Keefe, CFO of the Greater Minnesota Housing Fund, on lifelong learning as an executive.</figcaption>
            </figure>
        </a>
    </div>
    <div class="slick-item">
        <a href="http://bethel.edu/stories/matthew-kirk" title="">
            <img class="feature__img" src="https://cdn2.bethel.edu/resize/unsafe/1500x0/smart/http://www.bethel.edu/stories/images/profile-kirk-home.jpg" title="" style="opacity: 1;">
            <figure class="feature__figure">
                <blockquote class="feature__blockquote">No matter where you go or who you talk to at Bethel, everyone encourages you to keep going.</blockquote>
                <figcaption class="feature__figcaption">Alum Matthew Kirk ‘14 shares his Bethel story.</figcaption>
            </figure>
        </a>

    </div>
</div>