<h3><span class="h6">An h3 like an h6</span></h3>
<div class="collapsible  collapsible--generic">
    <span class="collapsible-heading pb2">View course dates and descriptions</span>
    <div class="collapsible-block">
        {{!-- {% for section in format_date(buckets[key]) %} --}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis perspiciatis facilis dicta veniam minus dolor et, labore explicabo ipsum nostrum voluptatibus, repellendus placeat quae commodi odio doloremque porro, aspernatur dolorem dolore totam sunt pariatur fugiat hic. Odio et dolor dolores magnam architecto iusto suscipit aut possimus laudantium numquam. Quis mollitia exercitationem iste earum sit quisquam dolor facere animi molestiae esse dignissimos similique veritatis eveniet, nostrum est asperiores praesentium inventore perferendis hic, nobis sequi nesciunt corporis facilis delectus. Labore quae dolor asperiores impedit, esse, voluptatum alias nam optio error animi magnam consequuntur assumenda, rerum fuga quisquam, hic inventore quibusdam. Aut.</p>
    </div>
</div>

<h3><span class="h6">An h3 like an h6</span></h3>
<div class="collapsible  collapsible--generic">
    <span class="collapsible-heading pb2">View course dates and descriptions</span>
    <div class="collapsible-block">
        {{!-- {% for section in format_date(buckets[key]) %} --}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis perspiciatis facilis dicta veniam minus dolor et, labore explicabo ipsum nostrum voluptatibus, repellendus placeat quae commodi odio doloremque porro, aspernatur dolorem dolore totam sunt pariatur fugiat hic. Odio et dolor dolores magnam architecto iusto suscipit aut possimus laudantium numquam. Quis mollitia exercitationem iste earum sit quisquam dolor facere animi molestiae esse dignissimos similique veritatis eveniet, nostrum est asperiores praesentium inventore perferendis hic, nobis sequi nesciunt corporis facilis delectus. Labore quae dolor asperiores impedit, esse, voluptatum alias nam optio error animi magnam consequuntur assumenda, rerum fuga quisquam, hic inventore quibusdam. Aut.</p>
    </div>
</div>

<h3><span class="h6">An h3 like an h6</span></h3>
<div class="collapsible  collapsible--generic">
    <span class="collapsible-heading pb2">View course dates and descriptions</span>
    <div class="collapsible-block">
        {{!-- {% for section in format_date(buckets[key]) %} --}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis perspiciatis facilis dicta veniam minus dolor et, labore explicabo ipsum nostrum voluptatibus, repellendus placeat quae commodi odio doloremque porro, aspernatur dolorem dolore totam sunt pariatur fugiat hic. Odio et dolor dolores magnam architecto iusto suscipit aut possimus laudantium numquam. Quis mollitia exercitationem iste earum sit quisquam dolor facere animi molestiae esse dignissimos similique veritatis eveniet, nostrum est asperiores praesentium inventore perferendis hic, nobis sequi nesciunt corporis facilis delectus. Labore quae dolor asperiores impedit, esse, voluptatum alias nam optio error animi magnam consequuntur assumenda, rerum fuga quisquam, hic inventore quibusdam. Aut.</p>
    </div>
</div>

<h3><span class="h6">An h3 like an h6</span></h3>
<div class="collapsible  collapsible--generic">
    <span class="collapsible-heading pb2">View course dates and descriptions</span>
    <div class="collapsible-block">
        {{!-- {% for section in format_date(buckets[key]) %} --}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis perspiciatis facilis dicta veniam minus dolor et, labore explicabo ipsum nostrum voluptatibus, repellendus placeat quae commodi odio doloremque porro, aspernatur dolorem dolore totam sunt pariatur fugiat hic. Odio et dolor dolores magnam architecto iusto suscipit aut possimus laudantium numquam. Quis mollitia exercitationem iste earum sit quisquam dolor facere animi molestiae esse dignissimos similique veritatis eveniet, nostrum est asperiores praesentium inventore perferendis hic, nobis sequi nesciunt corporis facilis delectus. Labore quae dolor asperiores impedit, esse, voluptatum alias nam optio error animi magnam consequuntur assumenda, rerum fuga quisquam, hic inventore quibusdam. Aut.</p>
    </div>
</div>

<h3><span class="h6">An h3 like an h6</span></h3>
<div class="collapsible  collapsible--generic">
    <span class="collapsible-heading pb2">View course dates and descriptions</span>
    <div class="collapsible-block">
        {{!-- {% for section in format_date(buckets[key]) %} --}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam blanditiis perspiciatis facilis dicta veniam minus dolor et, labore explicabo ipsum nostrum voluptatibus, repellendus placeat quae commodi odio doloremque porro, aspernatur dolorem dolore totam sunt pariatur fugiat hic. Odio et dolor dolores magnam architecto iusto suscipit aut possimus laudantium numquam. Quis mollitia exercitationem iste earum sit quisquam dolor facere animi molestiae esse dignissimos similique veritatis eveniet, nostrum est asperiores praesentium inventore perferendis hic, nobis sequi nesciunt corporis facilis delectus. Labore quae dolor asperiores impedit, esse, voluptatum alias nam optio error animi magnam consequuntur assumenda, rerum fuga quisquam, hic inventore quibusdam. Aut.</p>
    </div>
</div>