
    <div class="events__item" itemscope="itemscope" itemtype="https://schema.org/Event">
        <p class="events__date-tile" itemprop="startDate">


            <!--Month-->
            MAY

            <!--Day-->
            <span>09</span>

            <!--Year-->
            2018</p>

        <div class="events__content">
            <!--Title + Link-->
            <p class="events__headline">
                <a href="https://www.bethel.edu/events/2018/admissions/speaker-series-global-business">
                    <span itemprop="name">Speaker Series: Global Business</span>
                </a>
            </p>
            <!--Time + Location-->
            <p class="events__location">Noon CT
                <span itemprop="location">Online</span>
            </p>

            <!--Description-->
            <p class="events__description">
                <span itemprop="description">Join us to learn more!</span>
            </p>
        </div>
    </div>

    <div class="events__item" itemscope="itemscope" itemtype="https://schema.org/Event">
        <p class="events__date-tile" itemprop="startDate">


            <!--Month-->
            MAY

            <!--Day-->
            <span>18</span>

            <!--Year-->
            2018</p>

        <div class="events__content">
            <!--Title + Link-->
            <p class="events__headline">
                <a href="https://www.bethel.edu/events/2018/bethel-connect-mayo-clinic">
                    <span itemprop="name">Bethel Connect: Mayo Clinic</span>
                </a>
            </p>
            <!--Time + Location-->
            <p class="events__location">5 p.m.
                <span itemprop="location">Pasquale's Neighborhood Pizzeria</span>
            </p>

            <!--Description-->
            <p class="events__description">
                <span itemprop="description">Join other alumni and spouses connected to Mayo Clinic for an evening of appetizers, networking, and Bethel
                    updates.</span>
            </p>
        </div>
    </div>

    <div class="events__item" itemscope="itemscope" itemtype="https://schema.org/Event">
        <p class="events__date-tile" itemprop="startDate">


            <!--Month-->
            MAY

            <!--Day-->
            <span>28</span>

            <!--Year-->
            2018</p>

        <div class="events__content">
            <!--Title + Link-->
            <p class="events__headline">
                <a href="https://www.bethel.edu/events/arts/music/2018/great-hall-choral-arts-concert">
                    <span itemprop="name">Great Hall Choral Arts Concert</span>
                </a>
            </p>
            <!--Time + Location-->
            <p class="events__location">7:30 p.m.
                <span itemprop="location">Benson Great Hall</span>
            </p>

            <!--Description-->
            <p class="events__description">
                <span itemprop="description">Featuring the Irondale Knightingales Choir, Bethel Choir, and Bethel Women's Choir</span>
            </p>
        </div>
    </div>

    <a class="btn  btn-outline  center" href="events/">More Events</a>