    <div class="global__header" role="banner">
        <div class="inner">    
            <div class="global__logo">
                <a href="http://www.bethel.edu"><img alt="Bethel University" src="//cdn1.bethel.edu/dev/images/logo-white.png" class="lazyload" /></a>
            </div>

            <nav class="big-global__navigation" role="navigation">
                <ul>
                     <li><a href="http://www.bethel.edu/academics/">Undergrad</a></li>
                     <li><a class="active"  href="http://www.bethel.edu/admissions/">Adult Undergrad</a></li>
                     <li><a href="http://cas.bethel.edu/student-life/">Graduate</a></li>
                     <li><a href="http://www.bethel.edu/faith/">Seminary</a></li>
                     <li><a href="https://www.bethel.edu/academics/online">Online</a></li>
                </ul>
            </nav>


            <a class="burger" href="#toolbox" id="js-globalNav-button">
                <span class="burger-icon"></span>
                <span class="burger-text">Menu</span>
            </a>

        </div>
    </div>

{{!-- <div class="global__header" role="banner">
    <div class="inner">
        <div class="global__logo">
            <a href="http://www.bethel.edu"><img alt="Bethel University" src="//cdn1.bethel.edu/dev/images/logo-white.png"/></a>
        </div>



        <form action="//www.bethel.edu/search/" class="search" id="cse-search-box" target="_blank">
            <fieldset>
                <input name="cx" type="hidden" value="017681067239267367526:chqo5ugqj90">
                <input name="ie" type="hidden" value="UTF-8">
                <input class="search-input" name="q" type="text">
                <input class="btn search-go" name="sa" type="submit" value="Search">
            </fieldset>
        </form>

        <a class="burger" href="#toolbox" id="toolbox-open-btn">
            <span class="burger-icon"></span>
            <span class="burger-text">Menu</span>
        </a>
    </div>
</div>

<div class="global__toolbox" id="toolbox">
    <a class="global__toolbox__close-btn" id="global__toolbox__close-btn" href="#top">✖ close</a>
    
    <nav class="global__navigation" role="navigation">
        <div class="inner">
            <ul>
                <li><a href="http://www.bethel.edu">
                        <svg class="svg-icon  home-icon"><use xlink:href="../assets/icon-sprite/symbols.svg#home"></use></svg>
                        <span style="display:none">Home</span>
                    </a>
                </li>
                 <li class="active"> <a href="http://www.bethel.edu/about">About</a></li>
                 <li><a href="http://www.bethel.edu/academics/">Academics</a></li>
                 <li><a href="http://www.bethel.edu/admissions/">Admissions</a></li>
                 <li><a href="http://cas.bethel.edu/student-life/">Student Life</a></li>
                 <li><a href="http://www.bethel.edu/faith/">Faith</a></li>
                 <li><a href="http://athletics.bethel.edu/">Athletics</a></li>
                 <li><a href="http://www.bethel.edu/alumni/">Alumni</a></li>
                 <li><a href="http://www.bethel.edu/giving/">Giving</a></li>
            </ul>
        </div>
    </nav>

    <div class="quick-links">
    	<ul>
			<li><a href="#">Blink</a></li>
			<li><a href="#">News</a></li>
			<li><a href="#">Events</a></li>
			<li><a href="#">Offices</a></li>
		</ul>
	</div>

			<form action="//www.bethel.edu/search/" class="search" id="cse-search-box" target="_blank">
	            <fieldset>
	                <input name="cx" type="hidden" value="017681067239267367526:chqo5ugqj90">
	                <input name="ie" type="hidden" value="UTF-8">
	                <input class="search-input" name="q" type="text">
	                <input class="btn search-go" name="sa" type="submit" value="Search">
	            </fieldset>
	        </form>
	        <svg class="svg-icon  search-icon"><use xlink:href="../assets/icon-sprite/symbols.svg#search"></use></svg>
</div>  --}}