    <div class="global__header" role="banner">
        <div class="inner">    
            <div class="global__logo">
                <a href="http://www.bethel.edu"><img alt="Bethel University" src="https://cdn1.bethel.edu/dev/images/logo.png"/></a>
            </div>

            <nav class="big-global__navigation" role="navigation">
                <ul>
                     <li><a href="http://www.bethel.edu/academics/">About</a></li>
                     <li><a class="active"  href="http://www.bethel.edu/admissions/">Admissions & Aid</a></li>
                     <li><a href="http://cas.bethel.edu/student-life/">Academics</a></li>
                     <li><a href="http://www.bethel.edu/faith/">Student Life</a></li>
                     <li><a href="http://www.bethel.edu/faith/">Athletics</a></li>
                     <li><a href="https://www.bethel.edu/academics/online">Giving</a></li>
                </ul>
            </nav>


            <a class="burger" href="#toolbox" id="js-globalNav-button">
                <span class="burger-icon"></span>
                <span class="burger-text">Menu</span>
            </a>

        </div>
    </div>