<div class="global__header" role="banner">
    <div class="inner">
        <div class="global__logo">
            <a href="http://www.bethel.edu"><img alt="Bethel University" src="//cdn1.bethel.edu/dev/images/logo-white.png"/></a>
        </div>
        <a class="burger" href="#toolbox" id="toolbox-open-btn">
            <span class="burger-icon"></span>
            <span class="burger-text">Menu</span>
        </a>
    </div>
</div>