<div class="global__toolbox" id="toolbox">
    <a class="global__toolbox__close-btn" id="global__toolbox__close-btn" href="#top">✖ close</a>
    
    <nav class="global__navigation" role="navigation">
        <div class="inner">
            <ul>
                 <li class="active"> <a href="http://www.bethel.edu/about">Offices</a></li>
                 <li><a href="http://www.bethel.edu/academics/">News</a></li>
                 <li><a href="http://www.bethel.edu/admissions/">Events</a></li>
                 <li><a href="http://cas.bethel.edu/student-life/">Arts</a></li>
                 <li><a href="http://www.bethel.edu/faith/">MyBethel</a></li>
            </ul>
        </div>
    </nav>
</div> 