<head>

    <title>{{title}} | Bethel University</title>

    <link rel="preconnect" href="https://cdn1.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cdn2.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cdn3.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cdn4.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cloud.typography.com">

    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="" name="description"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title><system-page-title/> | Bethel University Minnesota</title>
    <link href="https://www.bethel.edu/cdn/images/favicon.ico" rel="icon" type="image/x-icon"/> 

    <link rel="stylesheet" type="text/css" href="css/post.css">
    {{!-- <link rel="stylesheet" type="text/css" href="https://www.bethel.edu/cdn/css/post.css"> --}}

    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?flags=gated"></script>
    <script src="js/lazysizes.js" async=""></script>
    <script defer src="js/quatro.js"></script>

</head>