<head>

    <title>{{title}} | Bethel University</title>

    <link rel="preconnect" href="https://cdn1.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cdn2.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cdn3.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cdn4.bethel.edu" crossorigin>
    <link rel="preconnect" href="https://cloud.typography.com">

    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="" name="description"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title><system-page-title/> | Bethel University Minnesota</title>
    <link href="https://www.bethel.edu/cdn/images/favicon.ico" rel="icon" type="image/x-icon"/> 

    <link rel="stylesheet" type="text/css" href="css/post.css">

    {{!-- polyfill - picture element for ie11 --}}
    <script defer async src="https://cdn.polyfill.io/v2/polyfill.min.js?features=HTMLPictureElement&flags=gated"></script>
    <script defer src="js/lazy.quatro.js"></script>
    <script defer src="js/main.quatro.js"></script>

</head>