<head>

    <title>{{title}} | Bethel University</title>

    <meta charset="utf-8"/>
    <meta content="" name="description"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title><system-page-title/> | Bethel University Minnesota</title>
    <link href="https://www.bethel.edu/cdn/images/favicon.ico" rel="icon" type="image/x-icon"/> 

    <link rel="stylesheet" type="text/css" href="css/pickles.css">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6664852/692222/css/fonts.css" />

    {{!-- polyfill - picture element for ie11 --}}
    <script defer async src="https://cdn.polyfill.io/v2/polyfill.min.js?features=HTMLPictureElement&flags=gated"></script>
    <script defer src="js/lazy.pickles.js"></script>
    <script defer src="js/main.pickles.js"></script>

</head>