<div class="grid">
	<div class="grid-cell">
		<a href="//www.bethel.edu/graduate/academics/online"> 
			<figure class=" hover-effect hover-dim-zoom margins-off"> 
				<img src="https://cdn1.bethel.edu/resize/unsafe/800x0/smart/http://www.bethel.edu/events/images/events--calendar.jpg"> 
				<figcaption> 
					<p><span>Graduate</span> Online Programs</p> 
					<span class="btn btn-mini btn-yellow">View List</span> 
				</figcaption>	
			</figure> 
		</a>
	</div>

	<div class="grid-cell">
		<a href="//www.bethel.edu/graduate/academics/online"> 
			<figure class=" hover-effect hover-dim-zoom margins-off"> 
				<img src="https://cdn1.bethel.edu/resize/unsafe/800x0/smart/http://www.bethel.edu/events/images/events--athletics.jpg"> 
				<figcaption> 
					<p><span>Adult Undergraduate</span> Online Programs</p> 
					<span class="btn btn-mini btn-yellow">View List</span> 
				</figcaption>	
			</figure> 
		</a>
	</div>
</div>