                                                                                                                                                                                                                                             
<div class="majors-table">
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/biochemistry-molecular.php">Biochemistry and Molecular Biology</a></span>
<span class="majors-table__type"><a href="majors-minors/biochemistry-molecular.php"><span class="major">Major</span></a></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"><a href="majors-minors/pre-med.php"><span class="program">Program</span></a></span>
</div>
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/biology-minor.php">Biology Minor</a></span>
<span class="majors-table__type"><a href="majors-minors/biochemistry-molecular.php"><span class="major">Major</span></a></span>
<span class="majors-table__type"><a href="majors-minors/biology-minor.php"><span class="minor">Minor</span></a></span>
<span class="majors-table__type"><a href="majors-minors/pre-med.php"><span class="program">Program</span></a></span>
</div>
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/biology-ba.php">Biology (B.A.)</a></span>
<span class="majors-table__type"><a href="majors-minors/biology-ba.php"><span class="major">Major</span></a></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"></span>
</div>
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/biology-bs.php">Biology (B.S.)</a></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"><a href="majors-minors/biology-minor.php"><span class="minor">Minor</span></a></span>
<span class="majors-table__type"></span>
</div>
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/environmental-science.php">Environmental Science</a></span>
<span class="majors-table__type"><a href="majors-minors/environmental-science.php"><span class="major">Major</span></a></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"></span>
</div>
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/environmental-studies.php">Environmental Studies</a></span>
<span class="majors-table__type"><a href="majors-minors/environmental-studies.php"><span class="major">Major</span></a></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"></span>
</div>
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/life-science-education.php">Life Science Education</a></span>
<span class="majors-table__type"><a href="majors-minors/life-science-education.php"><span class="major">Major</span></a></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"></span>
</div>
<div class="majors-table__item">
<span class="majors-table__title"><a href="majors-minors/pre-med.php">Pre-medicine Program</a></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"></span>
<span class="majors-table__type"><a href="majors-minors/pre-med.php"><span class="program">Program</span></a></span>
</div>

<span class="majors-table__type"></span>
<span class="majors-table__type"></span>
</div>