<div class="flickity  js-flickity">
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1a/ 700w"
                    data-sizes="auto"
                    class="lazyload"
                    />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1b/ 700w"
                    class="lazyload" />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1c/ 700w"
                    class="lazyload" />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1d/ 700w"
                    class="lazyload" />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1e/ 700w"
                    class="lazyload" />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1f/ 700w"
                    class="lazyload" />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1g/ 700w"
                    class="lazyload" />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1h/ 700w"
                    class="lazyload" />
        </div>
    </div>
    <div class="flickity--cell">
        <div class="ratio-box" style="padding-bottom: 42.85% /* calc(75 / 175 * 100%)*/;">
            <img
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-sizes="auto"
                    data-srcset="http://lorempixel.com/700/300/sports/cell-1i/ 700w"
                    class="lazyload" />
        </div>
    </div>
</div>

