<div class="news">
	<div class="news-feed-8585">
		<h2>Recent News</h2>

	    <div class="news__item" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">
	    	<div class="news__image">
		 		<a href="http://www.bethel.edu/news/articles/2014/december/faculty-excellence"><img class="lazyload" data-src="https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/news/articles/2014/images/faculty-excellence.jpg" class="delayed-image-load image-replace" alt="Bethel’s College of Arts &amp; Sciences (CAS) has a nearly 30-year history of peer-recognition for its faculty members through the Faculty Excellence Awards. " data-src="https://cdn1.bethel.edu/resize/unsafe/{width}x0/smart/https://www.bethel.edu/news/articles/2014/images/faculty-excellence.jpg"></a>
		 	</div>

		 	<div class="news__content">
			 	<p class="news__headline"><a href="http://www.bethel.edu/news/articles/2014/december/faculty-excellence"><span itemprop="headline">Faculty Recognized as Models of Excellence</span></a></p>
			 	<p>December 03, 2014 | 10 a.m.</p>
		 	</div>
	    </div>

	   	<div class="news__item" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">
	    	<div class="news__image">
		 		<a href="http://www.bethel.edu/news/articles/2014/december/faculty-excellence"><img class="lazyload" data-src="https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/news/articles/2014/images/faculty-excellence.jpg" class="delayed-image-load image-replace" alt="Bethel’s College of Arts &amp; Sciences (CAS) has a nearly 30-year history of peer-recognition for its faculty members through the Faculty Excellence Awards. " data-src="https://cdn1.bethel.edu/resize/unsafe/{width}x0/smart/https://www.bethel.edu/news/articles/2014/images/faculty-excellence.jpg"></a>
		 	</div>

		 	<div class="news__content">
			 	<p class="news__headline"><a href="http://www.bethel.edu/news/articles/2014/december/faculty-excellence"><span itemprop="headline">Faculty Recognized as Models of Excellence</span></a></p>
			 	<p>December 03, 2014 | 10 a.m.</p>
		 	</div>
	    </div>

        <div class="news__item" itemscope="itemscope" itemtype="http://schema.org/NewsArticle">
        	<div class="news__image">
    	 		<a href="http://www.bethel.edu/news/articles/2014/december/faculty-excellence"><img class="lazyload" data-src="https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/news/articles/2014/images/faculty-excellence.jpg" class="delayed-image-load image-replace" alt="Bethel’s College of Arts &amp; Sciences (CAS) has a nearly 30-year history of peer-recognition for its faculty members through the Faculty Excellence Awards. " data-src="https://cdn1.bethel.edu/resize/unsafe/{width}x0/smart/https://www.bethel.edu/news/articles/2014/images/faculty-excellence.jpg"></a>
    	 	</div>

    	 	<div class="news__content">
    		 	<p class="news__headline"><a href="http://www.bethel.edu/news/articles/2014/december/faculty-excellence"><span itemprop="headline">Faculty Recognized as Models of Excellence</span></a></p>
    		 	<p>December 03, 2014 | 10 a.m.</p>
    	 	</div>
        </div>
                                        
    </div>
</div>