<section>
    <div class="inner">

        <div class="grid">
            <div class="grid-cell">
                <div class="medium-grid-pad-1x">
                    <div class="proofPoint">
                        <p class="proofPoint__number">70%</p>
                        <p>seniors who rank their Bethel education good or excellent</p>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="medium-grid-pad-1x">
                    <div class="proofPoint">
                        <p class="proofPoint__number">93%</p>
                        <p>of recent grads are either employed or in graduate school</p>
                    </div>
                </div>
            </div>
            <div class="grid-cell">
                <div class="medium-grid-pad-1x">
                    <div class="proofPoint">
                            <p class="h5 ma0">of recent grads are either employed or in graduate school</p>
                            <cite class="proofPoint__cite">- World News Report</cite>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>