<section class="grid-section">
	<div class="inner">
		<div class="grid  grid--center">
			<div class="grid-cell  u-medium-1-2">
				<div class="medium-grid-pad-1x">
					<h2 class="beta">Request Info</h2>
					<form action="">
						<input type="text" placeholder="First Name"><br>
						<input type="text" placeholder="Last Name"><br>
						<select name="Degree type" id="">
							<option value="Degree type">Degree Type</option>
							<option id="bachelors" value="Bachelors">Bachelors</option>
							<option value="Bachelors">Masters</option>
							<option value="Bachelors">Doctorate</option>
						</select><br>
						<btn class="btn">Get Started!</btn>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>