<div class="school__navigation">
    <h1 class="school__navigation__head"><a href="/undergrad/">Undergrad &#9656;</a></h1> 
    <ul class="margins-off">
        <li><a href="/undergrad/about/" class="">About</a></li>
        <li><a href="/undergrad/academics/index-new" class="">Academics</a></li>
        <li><a href="/undergrad/admissions/" class="">Admissions</a></li>
        <li><a href="/undergrad/financial-aid/" class="">Tuition &amp; Financial Aid</a></li>
        <li><a href="/undergrad/student-life/" class="">Student Life</a></li>
        <li><a href="/undergrad/campus-ministries/" class="">Campus Ministries</a></li>
    </ul>
</div>