<section 
	class="grid-section  vh100  mt0  pt2  lazyload"  
	data-bgset="https://cdn1.bethel.edu/resize/unsafe/400x0/smart/https://www.bethel.edu/_shared-content/images/generic/brushaber-commons-pano.jpg 400w, https://cdn1.bethel.edu/resize/unsafe/600x0/smart/https://www.bethel.edu/_shared-content/images/generic/brushaber-commons-pano.jpg 600w, https://cdn1.bethel.edu/resize/unsafe/800x0/smart/https://www.bethel.edu/_shared-content/images/generic/brushaber-commons-pano.jpg 800w, https://cdn1.bethel.edu/resize/unsafe/1000x0/smart/https://www.bethel.edu/_shared-content/images/generic/brushaber-commons-pano.jpg 1000w, https://cdn1.bethel.edu/resize/unsafe/1200x0/smart/https://www.bethel.edu/_shared-content/images/generic/brushaber-commons-pano.jpg 1200w, https://cdn1.bethel.edu/resize/unsafe/1400x0/smart/https://www.bethel.edu/_shared-content/images/generic/brushaber-commons-pano.jpg 1400w, https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://www.bethel.edu/_shared-content/images/generic/brushaber-commons-pano.jpg 1600w" 
	data-sizes="auto"
	style="background-position:50% 0%;background-size:cover;">

	<div class="inner">
		<div class="grid  grid--center  mt3  mb6--medium  pb3 pb6--medium">
			<div class="grid-cell u-medium-2-3  u-large-1-2">
				<div class="medium-grid-pad-1x">

					<h2 class="beta  mb1  center  fw300">See yourself here</h3>
					<p>Our campuses are amazing places and we'd love to show them to you. Schedule your own visit or attend one of our campus visit events. 
					<p><a class="btn mt2  mr1" href="https://www.bethel.edu/events/">See events</a><a class="btn  mt2" href="https://www.bethel.edu/undergrad/admissions/visit/individual-visits/">Schedule a visit</a></p>

				</div>
			</div>
		</div>

	</div>
</section>