<<<<<<< HEAD
<section class="grid-section  section--find-program  mt0  pv6--medium">
	<div class="inner">
		<div class="grid  grid--center  mt3  mb6--medium  pb3 pb6--medium">
			<div class="grid-cell  u-medium-4-5">
				<div class="medium-grid-pad-1x">

					<div class="grid  grid--center">
						<div class="grid-cell u-medium-1-1">
							<div class="medium-grid-pad-1x">
								<h2 class="beta  mb1  center  fw300">Find your major or program</h2>
								<p class="h4  mb2  mb3--medium  fw400">We offer more than 100 areas of study for undergrads, as well as programs for adult undergrad, graduate, and seminary students. Enter a career or area of interest to find and compare majors, programs, certificates, and licenses.</p>
							</div>
						</div>
					</div>

					<form class="form--find-program">
						<div class="search--program">
							<input type="search" placeholder="Search for your program">
							<button class="btn">Find programs</button>
						</div>
						<div class="grid">
{{!-- 							<div class="grid-cell  bkg--white  ma1">
								<div class="grid-pad-1x">
									<h4 class="mb1">Degree Type</h4>
									<label><input type="radio" value="" checked="true"> All</label>
									<label><input type="radio" value=""> Associate's</label>
									<label><input type="radio" value=""> Bachelor's</label>
									<label><input type="radio" value=""> Master's</label>
									<label><input type="radio" value=""> Doctorate</label>
									<label><input type="radio" value=""> Certificate</label>
									<label><input type="radio" value=""> License</label>
								</div>
							</div> --}}
{{!-- 							<div class="grid-cell bkg--white  ma1">
								<div class="grid-pad-1x">
									<h4 class="mb1">Delivery Type</h4>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="facetoface">
										<label for="facetoface">Face to Face</label>
									</div>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="blended">
										<label for="blended">Blended</label>
									</div>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="online">
										<label for="online">Online</label>
									</div>
								</div>
							</div> --}}
{{!-- 							<div class="grid-cell  bkg--white  ma1">
								<div class="grid-pad-1x">
									<h4 class="mb1">School</h4>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="facetoface">
										<label for="facetoface">All</label>
									</div>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="blended">
										<label for="blended">College of Arts &amp; Sciences</label>
									</div>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="online">
										<label for="online">College of Adult &amp; Sciences</label>
									</div>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="facetoface">
										<label for="facetoface">Graduate School</label>
									</div>
									<div class="form--filter-option">
										<input class="mr1" type="checkbox" checked="true" id="blended">
										<label for="blended">Bethel Seminary</label>
									</div>
								</div>
							</div> --}}
						</div>
						
=======
<section class="grid-section  mt0  pv6">
	<div class="inner">
		<div class="grid  grid--center  mv6">
			<div class="grid-cell">
				<div class="medium-grid-pad-1x">
					<h3 class="alpha  mb2  center  fw300">Find your program</h3>
					<form class="form--find-program">
						<fieldset>
							<input type="radio" value="" checked="true"> All</input>
							<input type="radio" value=""> Bachelors</input>
							<input type="radio" value=""> Masters</input>
							<input type="radio" value=""> Doctorate</input>
						</fieldset>
						<fieldset>
							<input type="checkbox" checked="true"> Campus</input>
							<input type="checkbox" checked="true"> Online</input>
							<input type="checkbox" checked="true"> Evening</input>
						</fieldset>
						<fieldset>
							<input type="search" placeholder="Search">
						</fieldset>
>>>>>>> master
					</form>
				</div>
			</div>
		</div>
<<<<<<< HEAD
	</div>
</section>
=======
	</section>
>>>>>>> master
