<section class="grid-section  section--contact-visit  mt0  pv6  bkg--white">
	<div class="grid false">

		<div class="inner">
			<div class="grid  grid--center">
				<div class="grid-cell u-medium-2-3">
					<div class="small-grid-pad-2x  medium-grid-pad-2x">
						<h2 class="beta  mb1  center  fw300">See yourself here.</h2>
						<p class="h3  mb2  mb4--medium  fw400">With 9,783 majors, 2,000 programs, 3,000 student-led clubs, extracirricular activities and intramural sports, there is something at Bethel for you. Our community is our best feature, and we hope you think so too.</p>
					</div>
				</div>
			</div>

			<div class="grid  grid--wrap">
				<div class="grid-cell u-medium-1-2  pv2  ph2  ph5@medium">
					<svg xmlns="http://www.w3.org/2000/svg" height="33" version="1.1" viewBox="0 0 32 33" width="32">
						<g data-iconmelon="Simple Line Icons:fb184cb4fb59727d7839f79c7a826661" id="bubble-speach">
							<g>
								<g>
									<g>
										<g>
											<path d="M10.041,14.644c-1.379,0-2.501-1.122-2.501-2.502c0-1.379,1.122-2.501,2.501-2.501 s2.504,1.123,2.504,2.501C12.545,13.521,11.42,14.644,10.041,14.644z M10.041,10.787c-0.744,0-1.352,0.609-1.352,1.354 c0,0.748,0.607,1.355,1.352,1.355c0.747,0,1.354-0.607,1.354-1.355C11.396,11.396,10.788,10.787,10.041,10.787z"></path>
										</g>
									</g>
								</g>
								<g>
									<g>
										<g>
											<path d="M15.912,14.644c-1.379,0-2.5-1.122-2.5-2.502c0-1.379,1.121-2.501,2.5-2.501s2.504,1.123,2.504,2.501 C18.416,13.521,17.291,14.644,15.912,14.644z M15.912,10.787c-0.746,0-1.354,0.609-1.354,1.354c0,0.748,0.607,1.355,1.354,1.355 c0.75,0,1.357-0.607,1.357-1.355C17.27,11.396,16.662,10.787,15.912,10.787z"></path>
										</g>
									</g>
								</g>
								<g>
									<g>
										<g>
											<path d="M21.781,14.644c-1.377,0-2.501-1.122-2.501-2.502c0-1.379,1.124-2.501,2.501-2.501 c1.382,0,2.503,1.123,2.503,2.501C24.284,13.521,23.163,14.644,21.781,14.644z M21.781,10.787c-0.747,0-1.352,0.609-1.352,1.354 c0,0.748,0.604,1.355,1.352,1.355c0.75,0,1.357-0.607,1.357-1.355C23.139,11.396,22.531,10.787,21.781,10.787z"></path>
										</g>
									</g>
								</g>
								<g>
									<g>
										<g>
											<path d="M25.636,32c-0.15,0-0.298-0.058-0.407-0.167l-7.541-7.541H2.504c-0.027,0-0.055-0.004-0.082-0.007 C1.084,24.246,0,23.138,0,21.784V2.503C0,1.125,1.122,0,2.504,0h26.992c1.377,0,2.498,1.122,2.498,2.5v19.212 C31.997,21.733,32,21.759,32,21.784c0,0.026-0.003,0.05-0.006,0.078c-0.035,1.315-1.1,2.381-2.418,2.422 c-0.025,0.003-0.053,0.007-0.08,0.007h-3.285v7.135c0,0.232-0.14,0.441-0.355,0.532C25.783,31.986,25.71,32,25.636,32z M2.572,23.142h15.354c0.153,0,0.299,0.062,0.405,0.169l6.73,6.729v-6.323c0-0.317,0.257-0.575,0.574-0.575h3.79 c0.024-0.001,0.046-0.004,0.07-0.004c0.744,0,1.35-0.603,1.35-1.346c0-0.004,0-0.008,0-0.014V2.508 c0-0.753-0.605-1.359-1.35-1.359H2.504c-0.748,0-1.354,0.608-1.354,1.355v19.281c0,0.745,0.604,1.354,1.349,1.354 C2.525,23.138,2.547,23.141,2.572,23.142z"></path>
										</g>
									</g>
								</g>
							</g>
						</g>
					</svg>
					<h3 class="h2">Contact Us</h3>
					<p>Finding the right university can be a challenge, and we want you to know that we are here to help with any questions or concerns you may have. No question is too big or too small.</p> 
					<p class="h4"><a href="tel:6516388500">651.638.8500</a></p>
					<p class="h4"><a href="mailto:contact@bethel.edu">contact@bethel.edu</a></p>
				</div>

				<div class="grid-cell u-medium-1-2  pv2  ph2  ph5@medium">
					<svg xmlns="http://www.w3.org/2000/svg" height="33" version="1.1" viewBox="0 0 32 33" width="32">
						<g data-iconmelon="Streamline Icon Set:f2ad77ff5aac84e660d36d2b8a91449e" id="map-pin">
							<g id="Expanded">
								<g>
									<g>
										<path d="M16,32l-0.552-0.797C15.034,30.602,5.279,16.416,5.279,10.721C5.279,4.81,10.089,0,16,0 s10.721,4.81,10.721,10.721c0,5.695-9.755,19.881-10.169,20.482L16,32z M16,1.34c-5.173,0-9.38,4.208-9.38,9.381 c0,4.548,7.293,15.783,9.38,18.904c2.087-3.121,9.381-14.356,9.381-18.904C25.381,5.548,21.173,1.34,16,1.34z"></path>
									</g>
									<g>
										<path d="M16,15.411c-2.585,0-4.69-2.104-4.69-4.69S13.415,6.03,16,6.03c2.586,0,4.69,2.104,4.69,4.69 S18.586,15.411,16,15.411z M16,7.371c-1.847,0-3.35,1.503-3.35,3.35c0,1.848,1.503,3.351,3.35,3.351 c1.848,0,3.351-1.503,3.351-3.351C19.351,8.874,17.848,7.371,16,7.371z"></path>
									</g>
								</g>
							</g>
						</g>
					</svg>
					<h3 class="h2">Visit</h3>
					<p>We think our campus is one of our best features and we'd love to show it to you. Come during one of our campus visit events or schedule your own tour.
					<p><button class="btn mt2  mr1" jtype="submit">See events</button><button class="btn  mt2" jtype="submit">Schedule a visit</button></p>

				</div>

			</div>
		</div>
	</div>
</section>