<section class="grid-section  mt0  pv6  bkg--gradient-navy-blue">
	<div class="inner">
		<div class="grid  grid--center">
			<div class="grid-cell">
				<div class="medium-grid-pad-1x">
					<h3 class="beta  mb2  center  fw300" style="color: #fff">Request information</h3>
					<form class="form--request-info">
					<blockquote class="center">
						<fieldset>
							Hello, my <label class="form--request-info__label" for="user_name">name</label> is <input required="" name="user[name]" id="user_name" value="" type="text">
							and my <label class="form--request-info__label" for="user_email">email</label> is <input required="" name="user[email]" id="user_email" value="" type="email">.
						</fieldset>
						<fieldset>
							I'd like to learn more about Bethel's
							<select class="form--request-info__select">
								<option id="bachelors" value="Bachelors">bachelor's degrees</option>
								<option value="Bachelors">master's degrees</option>
								<option value="Bachelors">doctoral programs</option>
							</select> .
						</fieldset>
					</blockquote>
					<button class="btn  btn-yellow  center  mt3" jtype="submit">Get info</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>