<div class="sectionRequestInfo  bkg--white">
	<div class="inner  pv6">
		<div class="grid  grid--center">
			<div class="grid-cell">
				<div class="grid-pad-2x">
					<h3 class="alpha  pt1  center  fw500">Request information</h3>
					<form class="form--request-info  validate-form  pv3" action="" method="post" >
					<blockquote class="center">
						<fieldset>
							Hello, my <label class="form--request-info__label" for="user_name">name</label> is <input required="" name="user[firstName]" placeholder="First" id="user_firstName" value="" type="text" title="First name required">
							<input required="" name="user[lastName]" placeholder="Last" id="user_lastName" value="" type="text" title="Last name required">
							and my <label class="form--request-info__label" for="user_email">email</label> is <input required="" name="user[email]" id="user_email" value="" placeholder="email@bethel.edu" type="email" title="Email required">.
						</fieldset>
						<fieldset>
							I'd like to learn more about Bethel's
								<span style="white-space:nowrap">							
								<select class="form--request-info__select" name="degree-type" required>
								<option id="undergrad" value="undergrad">undergrad degrees</option>
								<option value="adult-undergrad">adult undergrad degrees</option>
								<option value="graduate">graduate degrees</option>
								<option value="seminary">seminary degrees</option>
							</select>.</span>
						</fieldset>
					</blockquote>
					<div class="form--request-info__error"></div>
					<button id="form--request-info__submit" class="btn  btn-outline  center  mt3" jtype="submit">Request info</button>
					</form>
					<div class='form--request-info--success' style="display:none">
						<p style="color:#fff" class="center">Thanks for requesting information! Check your email, you should be hearing from us soon.</p>
						<div class="checkmark">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
								<path class="path" fill="none" stroke="#17aa1c" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
								c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
								c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
								<circle class="circle path" fill="none" stroke="#17aa1c" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
								<polyline class="check" fill="none" stroke="#17aa1c" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8 
								74.1,108.4 48.2,86.4 "/>
							</svg>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var form = document.querySelector('.form--request-info');
	
	form.addEventListener('submit', function(event){
		event.preventDefault();
		var data = new FormData(form);
		var request = new XMLHttpRequest();
		request.open('POST', '/code/homepage-request-info.php', true);

		if (!this.checkValidity()) {
			console.log("no checkValidity")
			event.preventDefault();
			form.classList.add('invalid');
		  	throwError();
		} else {
			console.log("yes checkValidity");
			form.classList.add('valid');
		  // form.querySelector('#status').html('submitted');
			request.onload = function() {
				if (request.status >= 200 && request.status < 400) {
			    // Success!
					document.querySelector('.form--request-info').style.display = 'none';
					document.querySelector('.form--request-info--success').style.display = '';	
				} else {
			    // We reached our target server, but it returned an error
					alert('error');
				}
			};
			request.send(data);
		};
	});

	function hasHtml5Validation () {
 		return typeof document.createElement('input').checkValidity === 'function';
	}

	function throwError () { 
	  var newDiv = document.createElement("p"); 
	  newDiv.style.cssText = 'text-align:center;color:red;padding-top:1em;';

	  var newContent = document.createTextNode("Oops looks like we need a little more information!"); 
	  newDiv.appendChild(newContent); //add the text node to the newly created div. 

	  // add the newly created element and its content into the DOM 
	  var submitBtn = document.querySelector(".form--request-info__submit");
	  var errorDiv = document.querySelector(".form--request-info__error")
	  console.log(submitBtn); 
	  errorDiv.insertBefore(newDiv, submitBtn); 
	}
</script>