<section class="grid-section  section--contact-visit  mt0  pv6  bkg--white">
	<div class="grid false">

		<div class="inner">
			<div class="grid  grid--center">
				<div class="grid-cell u-medium-2-3">
					<div class="medium-grid-pad-2x">
						<h2 class="beta  mb1  center  fw300">Home away from home</h2>
						<p class="h3  mb2  fw400">With over 100 majors and programs of study, dozens of student-led clubs, extracirricular activities and intramural sports, there is something at Bethel for you. Our community is informed by our academics and our faith and we think its our best feature. We hope you think so too.</p>
							<ul>
								<li><a href="https://www.bethel.edu/academics/program-search">Find your major or program</a></li>
								<li><a href="https://www.bethel.edu/undergrad/student-life/">Student life</a></li>
								<li><a href="https://www.bethel.edu/academics/">Academics</a></li>
								<li><a href="https://www.bethel.edu/undergrad/campus-ministries/">Faith at Bethel</a></li>
							</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>