<div class="inner">
	<div class="site__title">
		{{> breadcrumb }}
		    <span class="breadcrumb--active">Anthropology, Sociology and Reconciliation Studies</span></p>
		{{!-- <h1>Anthropology, Sociology and Reconciliation Studies</h1> --}}
	    <p class="site__title__button" id="js-site__title__button"><a href="#siteNav">☰ In This Section</a></p>
	</div>
</div> 