<table border="0" class="responsive">
<tbody>
<tr>
<th scope="col">
</th><th scope="col">Direct Unsubsidized Loans</th>
<th scope="col">Direct PLUS Loans</th>
<th scope="col">Private Loans</th>
</tr>
<tr>
<th scope="rowgroup">Fees</th>
<td>
<p>1.051% (after 7/1/2013)</p>
</td>
<td>
<p>4.204% (after 7/1/2013)</p>
</td>
<td>Varies</td>
</tr>
<tr>
<th scope="rowgroup">Make payments while in school?</th>
<td>Interest accrues. Optional in-school payment.</td>
<td>Yes</td>
<td>Yes</td>
</tr>
<tr>
<th scope="rowgroup">Interest rate</th>
<td>5.41% fixed (first disbursed 7/1/2013 - 6/30/2014)</td>
<td>6.41% fixed (first disbursed 7/1/2013 - 6/30/2014)</td>
<td>Varies</td>
</tr>
<tr>
<th scope="rowgroup">Repayment</th>
<td>10 years</td>
<td>10 years</td>
<td>Varies (10+<br>
 years)</td>
</tr>
<tr>
<th scope="rowgroup">More info</th>
<td><a href="http://www.bethel.edu/seminary/financial-aid/types/loans/index#unsub">Unsubsidized Loans</a></td>
<td><a href="http://www.bethel.edu/seminary/financial-aid/types/loans/index#grad-plus">PLUS Loans</a></td>
<td><a href="http://www.bethel.edu/seminary/financial-aid/types/loans/index#private">Private Loans</a></td>
</tr>
</tbody>
</table>