<table class="responsive">
	<thead>
		<tr>
			<th>New Staff Training Courses</th>
			<th>Semester Credits</th>
			<th>Bethel Seminary Equivalents</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Inductive Bible Study Methods</td>
			<td>1</td>
			<td>BT Elective Credit</td>
		</tr>
		<tr>
			<td>Bible Interpretation</td>
			<td>1</td>
			<td>BT Elective Credit</td>
		</tr>
		<tr>
			<td>Biblical Communication</td>
			<td>1</td>
			<td>CP Elective Credit</td>
		</tr>
		<tr>
			<td>Church History</td>
			<td>1</td>
			<td>HS Elective Credit</td>
		</tr>
		<tr>
			<td>New Testament Survey</td>
			<td>1</td>
			<td>NT Elective Credit</td>
		</tr>
		<tr>
			<td>Old Testament Survey</td>
			<td>1</td>
			<td>OT Elective Credit</td>
		</tr>
		<tr>
			<td>God/Bible/Holy Spirit</td>
			<td>1</td>
			<td>TS Elective Credit</td>
		</tr>
		<tr>
			<td>Humanity/Christology/Salvation</td>
			<td>1</td>
			<td>TS Elective Credit</td>
		</tr>
		<tr>
			<td>Doctrine Survey</td>
			<td>1</td>
			<td>TS Elective Credit</td>
		</tr>
		<tr>
			<td>Apologetics</td>
			<td>1</td>
			<td>PH Elective Credit</td>
		</tr>
	</tbody>
</table>

<table class="responsive">
	<thead>
		<tr>
			<th>Meal type</th>
			<th>Student paying with flex</th>
			<th>Student without meal plan or guest</th>
			<th>Children ages 4-11</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Breakfast</td>
			<td>$5.32</td>
			<td>$5.32</td>
			<td>$2.52</td>
		</tr>
		<tr>
			<td>Lunch</td>
			<td>$9.19</td>
			<td>$9.80</td>
			<td>$4.20</td>
		</tr>
		<tr>
			<td>Dinner</td>
			<td>$11.16</td>
			<td>$11.16</td>
			<td>$5.41</td>
		</tr>
		<tr>
			<td>Saturday brunch</td>
			<td>$9.90</td>
			<td>$9.94</td>
			<td>$4.85</td>
		</tr>
		<tr>
			<td>Special event</td>
			<td>$12.10</td>
			<td>$13.02</td>
			<td>$6.67</td>
		</tr>
	</tbody>
</table>

<table class="responsive">
	<thead>
		<tr>
			<th>Course Title</th>
			<th>Status</th>
			<th>Semester Credits</th>
			<th>Course No.</th>
			<th>Bethel Course Equivalent</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Introduction to Youth Ministry</td>
			<td>YL Core</td>
			<td>3</td>
			<td>DC635YL*</td>
			<td>DC Elective</td>
		</tr>
		<tr>
			<td>Leadership I: Foundations for Incarnational Youth Ministry</td>
			<td>YL Core</td>
			<td>3</td>
			<td>ML612YL*</td>
			<td>Leadership I/<br /> SP or ML Elective</td>
		</tr>
		<tr>
			<td>Leadership II: Incarnational Discipleship of Young People</td>
			<td>YL Core</td>
			<td>3</td>
			<td>ML613YL*</td>
			<td>Leadership II/<br /> ML Elective</td>
		</tr>
		<tr>
			<td>The Minister as Person</td>
			<td>YL Core</td>
			<td>3</td>
			<td>PC607YL*</td>
			<td>PC Elective</td>
		</tr>
		<tr>
			<td>Systematic Theology I: Theology and Anthropology</td>
			<td>YL Core</td>
			<td>3</td>
			<td>TS512YL</td>
			<td>Systematic Theology I/<br /> TS512</td>
		</tr>
		<tr>
			<td>Gospels and Acts</td>
			<td>YL Core</td>
			<td>3</td>
			<td>NT516YL</td>
			<td>NT516</td>
		</tr>
		<tr>
			<td>Youth Ministry Leadership and Community Development</td>
			<td>Cont. Ed.</td>
			<td>3</td>
			<td>DC637YL</td>
			<td>DC Elective</td>
		</tr>
		<tr>
			<td>The Kingdom of God and Cultural Intelligence</td>
			<td>Cont. Ed.</td>
			<td>3</td>
			<td>GC618YL</td>
			<td>GC Elective</td>
		</tr>
		<tr>
			<td>Equipping Leaders who Volunteer</td>
			<td>Cont. Ed.</td>
			<td>3</td>
			<td>ML620YL</td>
			<td>DC Elective</td>
		</tr>
		<tr>
			<td>Supervision and Organizational Leadership</td>
			<td>Cont. Ed.</td>
			<td>3</td>
			<td>ML615YL</td>
			<td>ML Elective</td>
		</tr>
		<tr>
			<td>Old Testament Introduction</td>
			<td>Cont. Ed.</td>
			<td>3</td>
			<td>OT516YL</td>
			<td>OT Elective</td>
		</tr>
		<tr>
			<td>Christology, Soteriology, Pneumatology</td>
			<td>Cont. Ed.</td>
			<td>3</td>
			<td>TS613YL</td>
			<td>TS Elective</td>
		</tr>
	</tbody>
</table>

<table border="0" class="responsive mb2">
	<caption>Loan Information</caption>
	<thead>
		<tr>
			<th>Loan Type</th>
			<th>Fees</th>
			<th>Make payments while in school?</th>
			<th>Interest rate</th>
			<th>Repayment</th>
			<th>More info</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Direct Unsubsidized Loans</td>
			<td>1.051% (after 7/1/2013)</td>
			<td>Interest accrues. Optional in-school payment.</td>
			<td>5.41% fixed (first disbursed 7/1/2013 - 6/30/2014)</td>
			<td>10 years</td>
			<td><a href="https://www.bethel.edu/seminary/financial-aid/types/loans/index#unsub">Unsubsidized Loans</a></td>

		</tr>
		<tr>
			<td>Direct PLUS Loans</td>
			<td>4.204% (after 7/1/2013)</td>
			<td>Yes</td>
			<td>6.41% fixed (first disbursed 7/1/2013 - 6/30/2014)</td>
			<td>10 years</td>
			<td><a href="https://www.bethel.edu/seminary/financial-aid/types/loans/index#grad-plus">PLUS Loans</a></td>

		</tr>
		<tr>
			<td>Private Loans</td>
			<td>Varies</td>
			<td>Yes</td>
			<td>Varies</td>
			<td>Varies (10+ years)</td>
			<td><a href="https://www.bethel.edu/seminary/financial-aid/types/loans/index#private">Private Loans</a></td>

		</tr>
	</tbody>
</table>



<table border="0" class="responsive mb2">
<caption>Flex (Included)</captions>
<thead>
   <tr>
      <th align="center"><strong>Meals</strong></th>
      <th>Fall</th>
      <th>Interim</th>
      <th>Spring</th>
    </tr>
    </thead>
  <tbody>
    <tr>
      <td>20/week</td>
      <td>$50</td>
      <td>$10</td>
      <td>$45</td>
    </tr>
    <tr>
      <td>15/week</td>
      <td>$150</td>
      <td>$20</td>
      <td>$130</td>
    </tr>
    <tr>
      <td>125/Semester</td>
      <td>$150</td>
      <td>$20</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>10/week</td>
      <td>$225</td>
      <td>$40</td>
      <td>$200</td>
    </tr>
    <tr>
      <td>6/week</td>
      <td>$540</td>
      <td>$100</td>
      <td>$520</td>
    </tr>
    <tr>
      <td>3/week</td>
      <td>$1,100</td>
      <td>$145</td>
      <td>$1,035</td>
    </tr>
    <tr>
      <td>Flex only</td>
      <td>$515</td>
      <td>$100</td>
      <td>$500</td>
    </tr>
  </tbody>
</table>

<table border="0" class="responsive">
<caption>Cost/Semester</caption>
<thead>
   <tr>
      <th align="center"><strong>Meals</strong></th>
      <th>Fall</th>
      <th>Interim</th>
      <th>Spring</th>
    </tr>
    </thead>
  <tbody>
    <tr>
      <td>20/week</td>
      <td>$1,940</td>
      <td>$365</td>
      <td>$1,875</td>
    </tr>
    <tr>
      <td>15/week</td>
      <td>$1,940</td>
      <td>$365</td>
      <td>$1,875</td>
    </tr>
    <tr>
      <td>125/Semester</td>
      <td>$1,795</td>
      <td>$340</td>
      <td>$1,795</td>
    </tr>
    <tr>
      <td>10/week</td>
      <td>$1,770</td>
      <td>$325</td>
      <td>$1,710</td>
    </tr>
    <tr>
      <td>6/week</td>
      <td>$1,665</td>
      <td>$290</td>
      <td>$1,620</td>
    </tr>
    <tr>
      <td>3/week</td>
      <td>$1,665</td>
      <td>$290</td>
      <td>$1,620</td>
    </tr>
    <tr>
      <td>2/week (PSEO commuters only)</td>
      <td>$1,215</td>
      <td>$130</td>
      <td>$1,215</td>
    </tr>

  </tbody>
</table>