table {
  width: 100%;
  font-size: 90%; }

table td {
  padding: .7em;
  border: 1px solid #ddd; }


.majors-table {
	font-family: $gotham;
	font-size: .8rem;
}

.majors-table tr {
    border-bottom: 1px solid #ddd;
}

.majors-table td {
   border: none;
}

.majors-table__item {
	display: flex;
	border-bottom: 1px solid #ddd;
	flex-wrap: wrap;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
}

.majors-table__title {
	flex-basis: 100%;
	flex-basis: 35%;
	// flex-grow:1;
	// margin-right: .5em;
	flex-shrink:0;
	font-weight: 500;

	@include respond-min($medium){
		flex-basis: 40%;
	}

	@include respond-min($large){
		flex-basis: 60%;
	}
}

.majors-table__type {
	flex-basis: 20%;
	flex-shrink: 0;
	// background: $bethel--navy;
	// border-radius: .3em;
	text-align: center;

	@include respond-min($medium){
		flex-basis: 15%;
	}	

	@include respond-min($large){
		flex-basis: 10%;
	}

	a {
		font-size: .7rem;
		background: $bethel--blue;
		color: #fff;
		padding: .25em .5em;
		border-radius: .3em;
	}

	a:hover {
		text-decoration: none;

	}
}

/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
	
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 35%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable { margin-left: 35%; }
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	
	
}
