table {
  width: 100%;
  font-size: 90%; 
  margin-bottom: 1em;
}

table td, 
table th {
  padding: .7em;
  border: 1px solid #d8d8d8; 
}

table th {
	 font-weight: bold;
	 text-align: left;
	 background: #e8e8e8;
}



table.responsive { 
  margin: 0 auto;
  border-collapse: collapse;
  // background: #333; 
  // color: #fff;
}
table.responsive caption { 
  // font-size: 2rem; color: #444;
  // margin: 1rem;
}
table.responsive thead th { }
table.responsive thead th, table.responsive tbody td { 
  // padding: .8rem; font-size: 1.4rem;
}
table.responsive tbody td { 
  // padding: .8rem; font-size: 1.4rem;
  // color: #444; background: #eee; 
}
table.responsive tbody tr:not(:last-child) { 
  // border-top: 1px solid #ddd;
  // border-bottom: 1px solid #ddd;  
}

@media screen and (max-width: 600px) {
  table.responsive thead { 
  	display: none; 
  }
  table.responsive tbody td { 
    display: block; padding: .6rem; 
  }
  table.responsive tbody tr td:first-child { 
    background: #e8e8e8; 
    // color: #fff; 
  }
	table.responsive tbody td:before { 
    content: attr(data-th); 
    font-weight: bold;
    display: inline-block;
    width: 6rem;  
  }
}


.majors-table {
	font-family: $gotham;
	font-size: .8rem;
}

.majors-table tr {
    border-bottom: 1px solid #ddd;
}

.majors-table td {
   border: none;
}

.majors-table__item {
	display: flex;
	border-bottom: 1px solid #ddd;
	flex-wrap: wrap;
	padding: 1em 0;
	align-items: center;
	justify-content: space-between;
}

.majors-table__title {
	flex-basis: 100%;
	flex-basis: 35%;
	// flex-grow:1;
	// margin-right: .5em;
	flex-shrink:0;
	font-weight: 500;

	@include respond-min($medium){
		flex-basis: 40%;
	}

	@include respond-min($large){
		flex-basis: 60%;
	}
}

.majors-table__type {
	flex-basis: 20%;
	flex-shrink: 0;
	// background: $bethel--navy;
	// border-radius: .3em;
	text-align: center;

	@include respond-min($medium){
		flex-basis: 15%;
	}	

	@include respond-min($large){
		flex-basis: 10%;
	}

	a {
		font-size: .7rem;
		background: $bethel--blue;
		color: #fff;
		padding: .25em .5em;
		border-radius: .3em;
	}

	a:hover {
		text-decoration: none;

	}
}