body {
  line-height: 1.5;
  color: #667;
  font-family: $gotham;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1, .h1 {font-size: 2.5em;}
h2, .h2 {font-size: 2em;}
h3, .h3 {font-size: 1.5em;}
h4, .h4 {font-size: 1.25em;}
h5, .h5 {font-size: 1.15em;}

h1 + p,
h2 + p,
h3 + p,
h4 + p {
  margin-top: 0;
}

small, .font_small {font-size: 0.889em;}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-weight: 500;
}

.alpha {
  font-size: 1.5rem;
  
  @mixin respond-min $medium {
    font-size: 2rem;
  }
}

.beta {
    font-size: 2rem;
    
    @mixin respond-min $medium {
        font-size: 3rem;
    }
}

.gamma {
    font-size: 2.5rem;

    @mixin respond-min $medium {
        font-size: 4rem;
    }
}

.delta {
  font-size: 3rem;

  @mixin respond-min $medium {
    font-size: 5rem;
  }
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.main h2:first-child,
.main h3:first-child,
.main h4:first-child {
  margin-top: 0;
}

/* These rules remove the top margin of heading when it is the first in*/
/* a grid-cell to make content top-aligned*/
.grid-cell > h2,
.grid-cell > h3,
.grid-cell > h4,
.grid-cell > h5,
.grid-cell > h6 {
  margin-top: 0;
}


p:first-child {
	margin-top: 0;
}

a {
	color: $bethel--blue;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.teaser {
  color: $bethel--navy;
  font-weight: 400;
}

.ta--center {
  text-align: center;
}

.unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.u-uppercase {
  text-transform: uppercase;
}

.uppercase-underlined {
    text-transform: uppercase;
    padding-bottom: 0.5em;
    margin: 0 auto 2.5em;
    letter-spacing: 3px;
    font-size: .9em;
    font-weight: 400;
    display: table;
    text-align: center;
    border-bottom: 1px solid #333;
}

.parallax .uppercase-underlined {
  border-color: #fff;
}