
.outer-wrap {
  position: relative;
  overflow-x: hidden;
  width: 100%;

  @mixin respond-min $navToggle{
    margin-top: 0;
  }
}

.inner-wrap {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  background: #f5f5f5;
}

.site__navigation {
  background: #fff;
  position: absolute;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: $gotham;
  /* font-weight: 300;*/

  @mixin respond-min $navToggle{
    position: relative;
    left: 0;
    margin-right: 5%;
    order: 2;
    flex-basis:30%;
  }

  a {
    color: #777;
  }
}

/* .site__navigation .block-title {*/
   /*border: 0;*/
   /*clip: rect(0 0 0 0);*/
   /*height: 1px;*/
   /*margin: -1px;*/
   /*overflow: hidden;*/
   /*padding: 0;*/
   /*position: absolute;*/
   /*width: 1px;*/
/* }*/

/* .site__navigation ul:before, .site__navigation ul:after {*/
   /*content: "";*/
   /*display: table;*/
/* }*/
/* .site__navigation ul:after {*/
   /*clear: both;*/
/* }*/

.main {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  flex-basis: 100%;
  order: 3;
  min-width: 1%;

  @mixin respond-min $navToggle {
    /* flex: 3;*/
    padding-left: 0;
    padding-right: 0;
    flex-basis: 65%;
    flex-grow:1;
  }
}

.main + h2,
.main + h3,
.main + h4 {
  margin-top: 0;
}

section + h2,
section + h3,
section + h4 {
  margin-top: 0;
}

/* @mixin respond-min(46.0625em){*/

   /*.site__navigation .block-title {*/
     /*border: 0;*/
     /*clip: rect(0 0 0 0);*/
     /*height: 1px;*/
     /*margin: -1px;*/
     /*overflow: hidden;*/
     /*padding: 0;*/
     /*position: absolute;*/
     /*width: 1px;*/
   /*}*/
/* }*/

@mixin respond-max $navToggle{

  .site__navigation:not(:target) {
    z-index: -1;
    height: 0;
  }

  .site__navigation:target .close-btn {
    display: block;
  }


  .no-js .site__navigation {
    background: #333;
  }

  .js-ready .site__navigation {
    height: auto;
    width: 18em;
  }

  .js-ready .site__navigation {
    left: -18em
  }
  .js-ready .inner-wrap {
    left: 0;
  }

  .js-nav .inner-wrap {
    left: 18em;
  }

  /*.csstransforms3d.csstransitions*/.js-ready .inner-wrap {
    left: 0 !important;
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
    backface-visibility: hidden;
  }

  /*.csstransforms3d.csstransitions*/.js-ready .site__navigation {
    transition: transform 500ms ease;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
  }

  /*.csstransforms3d.csstransitions*/.js-nav .inner-wrap {
    transform: translate3d(18em, 0, 0);
  }

  /*.csstransforms3d.csstransitions*/.js-nav .site__navigation{
    transform: translate3d(0, 0, 0);
  }
}

.close-btn {
  display: none;
}

.no-js .close-btn {
    @mixin respond-max $navToggle{
      display: block;
    }
}
