.carousel-constrain {
    max-width: 1200px;
    margin: 0 auto;

    @mixin respond-min $medium {
        padding: 0 1em;
    }

    @mixin respond-min $large {
        padding: 0 3em;
    }

    .moving-picture {
        @mixin respond-min 1200px {
            height: 639px;
        }
    }
}

.carousel--basic a:hover,
.carousel--overlay a:hover {
    text-decoration: none;
}

.carousel--basic .feature__img {
    display: block;
    width: 100%
}

.carousel--basic .feature__figure {
    background: #bdbcb0;
    margin: 0;
    padding: 2em
}

.carousel--basic .feature__blockquote {
    margin-bottom: .4em;
    margin-left: .8em;
    margin-right: .8em;
    font-size: 1.5rem;
    color: #fff;
    font-family: $gotham;
    font-weight: 500;
    font-style: normal;
    line-height: 1.4;
}

.carousel--basic .feature__blockquote:before {
    content: '“';
    font-size: 1.5em;
    margin-left: -.6em;
    line-height:0;
    padding-right: .1em;
    display: inline-block;
    vertical-align: middle;
    color: #ddd
}

.carousel--basic .feature__blockquote:after {
    content: '”';
    font-size: 1.5em;
    line-height: 0;
    padding-left: .1em;
    color: #ddd;
    vertical-align: middle
}

.carousel--basic .feature__figcaption {
    margin-bottom: 0;
    color: #665;
    font-family: $gotham;
    font-weight: 500;
    font-style: normal;
    font-size: .8em
}