.collapsible-block {
	display: none;
}

.collapsible.open-block .collapsible-block {
	display: block;
}

.collapsible-heading {
	position: relative;
	cursor: pointer;
}


.collapsible--generic {
	padding-left: 2em;

	.collapsible-heading {
		padding-left: 1em;
		margin-left: -1em;

		&:before {
			position: absolute;
			content: "+";
			/* top: 20%;*/
			left: 0;
			transition: all 200ms;
			color: #0069aa;
			font-size: 75%;
			line-height: 2;
		}
	}
}

.collapsible--generic.open-block .collapsible-heading {
	&:before {
		transform: rotate(-45deg);
	}
}