.bkg--diagonal {
    position: relative;
}
.bkg--diagonal:before {
    content: '';
    background: linear-gradient(-10deg, #fff9e3, #ffc600); 
    transform: skew(0, -4deg);
    height: 470px;
    width: 100%;
    position: absolute;
    top: -170px
}

.bkg--diagonal2 {
    position: relative;
}
.bkg--diagonal2:before {
    content: '';
    background: linear-gradient(10deg, #fff,rgb(148, 200, 255)); 
    transform: skew(0, -4deg);
    height: 560px;
    width: 100%;
    position: absolute;
    top: -200px
}

.bkg--squiggles {
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230069aa' fill-opacity='0.15'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");    
}