.proof-points {
    /* color: #fff; */
    font-family: $gotham;

    .grid-cell {
        /* background-color: #fff; */
        padding: 3em 1em;
        border-radius: .5em;
        margin: 1em 0;
        /* border: 1px solid #ddd; */

        @mixin respond-min $medium {
            margin: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }

    }

    @mixin respond-min $medium {
        [class*='grid-pad'] {
            flex: 1;
        }
    }
}

.proof-point__text {
    margin-bottom: .75em;
    /* color: rgba(255,255,255, .8); */
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans;*/
    text-align: center;
    font-size: 1.25rem;
}

.proof-point__number {
    font-size: 3.5rem;
    line-height: 1;
    /* color: #fff; */
    display: flex;
    justify-content: center;
    align-items: center;

    @mixin respond-min $medium {
    	font-size: 7rem;
    }
}

.proof-point__number > * {
    line-height: 1.15 !important;
}

.proof-point__cite {
    font-size: .8rem;
    /* color: rgba(255,255,255, .8); */
}