.carousel--quote,
.carousel--employee {
    padding: 2em;
    background-color: #fff;

    @mixin respond-min $medium {
        padding: 3em;
    }
}

.carousel--quote,
.carousel--employee {
    .flickity-prev-next-button .arrow {
      fill: $bethel--blue;
    }
    .flickity-prev-next-button.no-svg {
      color: $bethel--blue;
    }
}

.quote {
    margin: 0 1em;

    @mixin respond-min $x-large{
        display: flex;
        flex: 1;
        flex-shrink: 0;
        flex-direction: row;
    }
}

.quote__text {
    flex: 1;
}

.quote__avatar {
    width: 8em;
    height: 8em;
    margin: 0 auto 2em;

    @mixin respond-min $x-large{
        flex-basis: 8em;
        padding-right: 2em;
        margin-bottom: 0;
    }
}

.quote__avatar img {
    border-radius: 50%;
}