
---
layout:default
---

<!doctype html>
<html class="" lang="">

{{> head }}

<body class="no-js" id="top">
<script type="text/javascript">document.body.className = document.body.className.replace("no-js","js");</script>

	{{> global--school}}

	<div class="inner-wrap--global__navigation" id="js-inner-wrap--global__navigation">

		{{> global__header }}

		{{!-- {{> school__navigation }} --}}

		{{!-- {{> carousel }} --}}
		{{> moving-picture }}


		<p class="site__title__button" id="js-site__title__button"><a href="#siteNav">☰ In This Section</a></p>

		<div class="inner--content  margins-off">
		    <div class="inner-wrap--site__navigation" id="js-inner-wrap--site__navigation">

		    	{{> site__navigation }}

		        {{> page__title }}

				{% body %}

		    </div>
		</div>

		{{> global__footer }}

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/js/bundle.js"></script>
	
</body>
</html>