<!doctype html>
<html class="" lang="">

{{> head }}

<body class="no-js" id="top">
<script type="text/javascript">document.body.className = document.body.className.replace("no-js","js");</script>

	<div class="skipNav"><a href="#main">Skip to Main Content</a></div>
	{{> global__navigation }}

	<div class="inner-wrap--global__navigation" id="js-inner-wrap--global__navigation">
		{{> mobile__header }}
		{{> school__navigation }}
		{{!-- {{> page__title }} --}}
		<div id="main" role="main">
			{% body %}
		</div>
		{{!-- {{> action-nav }} --}}
		{{> global__footer }}
	</div>

	{{!-- <script>
		var cb = function() {
			var l = document.createElement('link'); l.rel = 'stylesheet';
			l.href = 'https://cloud.typography.com/6664852/665108/css/fonts.css';
			var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
		};
		var raf = requestAnimationFrame || mozRequestAnimationFrame ||
		webkitRequestAnimationFrame || msRequestAnimationFrame;
		if (raf) raf(cb);
		else window.addEventListener('load', cb);
	</script> --}}
</body>
</html>