.breadcrumb {
  // padding-left: 1rem;
  // padding-right: 1rem;
  font-family: $gotham;
  margin: 0;
  font-size: .7em;
  letter-spacing: .05em;
  // font-weight: 500;
  // text-transform: uppercase; 
  // margin-top: 2em;
}

.breadcrumb a {
  display: inline-block;
  // padding: 0;
  color: #999;
}
  
.breadcrumb a:first-child {
    padding-left: 0; 
  }

.breadcrumb a:after {
  content: "›";
  // content: "•";
  padding-left: .7em;
  padding-right: .45em; 
}

.breadcrumb a:last-child:after {
  content: "";
  padding: 0; 
}

.breadcrumb .svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  fill: $bethel--blue;
  fill: #bbb;
}