.global__header {
    background: lighten(#0f2c52,2%);
    // background: $bethel--blue;
    position: relative;
    // margin-top: 0;
    padding: 0;
    width: 100%;
}

.global__header .inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.global__logo {
    width: 9em;
    padding: .5em 0;
    
    @include respond-min($navToggle){ 
        padding: 1.5em 0;
        width: 11em;
    }
}

.global__logo a { 
    display: block; 
}