.global__navigation {
    // background: #133868;
    background: $bethel--navy;
    border-bottom: 1px solid #133868;
    margin-top: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 1em 0;


        @include respond-min(60em) {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap; 
        }
    }

    ul li {
        margin-top: 0;
        font-family: $gotham;
        font-size: .7em;
        font-weight: 500;
        letter-spacing: .1em;
        text-transform: uppercase;
    }

    ul li a {
        padding: .5em 1em;
        color: #fff;
    }

    a:hover {
        background: lighten(#133868, 10%);
        border-radius: .5em;
    }

    .svg-icon {
        height: 1.05em;
        width: 1.05em;
        vertical-align: text-top;
        fill: #fff;
    }
}