.global__footer {
    background:#123563;
    color: rgba(255,255,255, .8);
    font-size: .8rem;

    .grid {
        flex-direction: column;
        justify-content: space-between;
    
        @mixin respond-min $large {
            flex-direction: row;
        }
    }

    .footer__gridCell {
        order: 2;

        @mixin respond-max $large {
            flex: 1 1 auto;
        }
    }

    .footer__gridCell--address {
        order: 1;
        font-size: 120%;

        @mixin respond-max $large {
            flex: 1 1 auto;
        }

        @mixin respond-min $large {
            order: 2;
            text-align: center;
            flex: 1;
        }
    }

    ul {
        padding-left: 1.25em;
    }

    a {
        color: rgba(255,255,255, .8); 
    }

    a:hover {
        color: #fff; 
    }

    h1, h2, h3, h4, h5, h6 {
        color: #ffc600;
    }

    address {
        font-style: normal;
        margin-bottom: 0;
    }

    .icon svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        fill: #77cbff;
        margin-bottom: 0;
        margin-right: .5em;
    }

    a:hover.icon {
        text-decoration: none;
    }

    a:hover.icon svg {
        fill: #fff;
    }
}

.global__footer__copyright {
    margin-top: 1em;
    background: $bethel--navy;
    padding: .5em;
    position: relative;
    z-index: 10;
}
