.mobile__header {
    background: #143a6b;
    position: relative;
    padding: 0;
    width: 100%;

    @mixin respond-min $large {
        display: none;
    }
}

.mobile__header .inner {
    position: relative;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @mixin respond-min $large {
        padding: 0 2em;
    }
}

.mobile__logo {
    width: 180px;
    /* padding: .7em 0 .4em; */
    /* float: left; */
    
    @mixin respond-min $large { 
        /* padding: 1.5em 0; */
        /* width: 11em; */
        /* float: none; */
    }
}

.mobile__logo a { 
    display: block; 
}

.mobile__logo img {
    border: none;
}

.burger {
    background: #0069aa;
    padding: .5em 1em;
    /*margin-top: 1em;*/
    font-family: $gotham;
    font-size: 1rem;
    /*float: right;*/
    display: flex;
    border-radius: 3px;
    align-items: center;

    @mixin respond-min $large {
      display: none;
    }
}

.burger-icon {
    content: "";
    display: block;
    width: 1em;
    box-shadow: 0 -5px 0 1px #fff,0 0px 0 1px #fff,0 5px 0 1px #fff;
}

.burger-text {
    margin-left: .75em;
    color: #fff;
}