.mobile__header {
    background: #143a6b;
    position: relative;
    padding: 0;
    width: 100%;

    @mixin respond-min $large {
        display: none;
    }
}

.mobile__header .inner {
    position: relative;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile__logo {
    width: 180px;
}

.mobile__logo a { 
    display: block; 
}

.mobile__logo img {
    border: none;
}

.burger {
    background: #0069aa;
    padding: .5em 1em;
    display: flex;
    border-radius: 3px;
    align-items: center;
}

.burger-icon {
    content: "";
    display: block;
    width: 1em;
    box-shadow: 0 -5px 0 1px #fff,0 0px 0 1px #fff,0 5px 0 1px #fff;
}

.burger-text {
    margin-left: .75em;
    color: #fff;
}