.inner-wrap--global__navigation {
  position: relative;
  background: #fff;
  overflow: hidden;
}

.global__toolbox {
  background-color: #123563;

  @mixin respond-min $large {
    position: relative;
  }
}

.global__toolboxGrid {
    padding: 0 2em;

    @mixin respond-min $large {
        display: grid;
        /* grid-template-columns: 200px auto; */
        grid-template-columns: minmax(150px, 210px) minmax(700px, auto);
        grid-gap: 2em;
        align-items: center;
        overflow: visible;
    }

    @mixin respond-min $x-large {
        grid-gap: 3em;
    }
}

.global__logo {
    display: none;
    @mixin respond-min $large {
        display: block;
    }
}

@media screen and (max-width: 56.99em) {

  .no-js {
      .global__toolbox:not(:target) {
        z-index: -1;
        height: 0;
      }

      .global__toolbox:target {
        z-index: 1;
      }

      .global__toolbox:target .close-btn {
        display: block;
      }


      .global__toolbox {
        background: #333;
        width: 100%;
        height: auto;
      }
    }


  .js .global__toolbox {
    position: absolute;
    top: 0;
    right: 0;
    width: 18em;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    text-transform: translate3d(0,0,0);
    backface-visibility: hidden;
  }

  .js-openGlobalNav .global__toolbox{
    position: fixed;
    top: 0;
    overflow-y: auto;
  }

  .js .inner-wrap--global__navigation {
    transform: translate3d(0, 0, 0);
    transition: transform 500ms ease;
    backface-visibility: hidden;
  }

  .js.js-openGlobalNav .inner-wrap--global__navigation {
    transform: translate3d(-18em, 0, 0);
  }
}

.global__toolbox__close-btn {
    /* float: right; */
    margin-top: 2em !important;
    color: #fff;

    @mixin respond-min $large {
        display: none !important; /* need !important to overide .btn styles */
    }
}

@media screen and (max-width: 56.99em){
    .no-js .close-btn {
        display: block;
    }
}