.sectionSplit--imgLeft {
    height: 100%;
    overflow: hidden;
} 

.sectionSplit--imgRight {
    flex-direction: row-reverse;
    overflow: hidden;
}

.sectionSplit__content {
    min-width: 300px; 
    max-width: 500px; 
    margin: 0 auto;
    padding: 4em 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sectionSplit__img {
    background-position: 60% 25%;
    background-size:cover;
    min-height: 25em;
    height: 100%;
}