.sectionSplit--imgLeft {
    height: 100%;
} 

.sectionSplit--imgRight {
    height: 100%;
    flex-direction: row-reverse;
}

.sectionSplit--imgLeft > .grid-cell:nth-child(1),
.sectionSplit--imgRight > .grid-cell:nth-child(1){
    min-height: 25em;
    /* height: 100%; */
}

.sectionSplit--imgLeft > .grid-cell:nth-child(1) img,
.sectionSplit--imgRight > .grid-cell:nth-child(1) img{
    object-fit: cover;
    font-family: 'object-fit: cover;';
    height: 100%;
}

.sectionSplit--imgLeft > .grid-cell:nth-child(2),
.sectionSplit--imgRight > .grid-cell:nth-child(2) {
    min-width: 300px; 
    max-width: 500px; 
    margin: 0 auto;
    padding: 4em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}