
.inner {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.off-canvas {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 0;
  // background: tomato;
    // transition: all 500ms;
}

.off-canvas--off {
  // margin-left: -100%;
  width: 16em;
  top: 0;

  @include respond-max(60em){
      position: absolute;
    transform: translate3d(-100%, 0, 0);
    transition: all 500ms;
  }

  float: left;
}

.off-canvas--open .off-canvas--off{
    transform: translate3d(0, 0, 0);

}

.off-canvas--on {
  // position: absolute;
  width: 100%;
    transform: translate3d(0, 0, 0);
    transition: all 500ms;
}

.off-canvas--open .off-canvas--on {
    transform: translate3d(16em, 0, 0);
    // transition: all 500ms;
}

.main-content--with-nav {
  flex: 0 0 100%;
  padding-left: 1em;
  padding-right: 1em;

  @include respond-min(30em){
    padding-left: 2em;
    padding-right: 2em;
    }

    @include respond-min(45em){
        padding-left: 3em;
        padding-right: 3em;
    }

    @include respond-min(60em){
       flex: 0 0 75%;
       order: 1;
       padding-left: 3em;
       padding-right: 3em;
    }
}

// .site__navigation {
//   flex: 0 0 100%;

//   @include respond-min(30em){
//       // flex: 0 0 100%;
//   }

//   @include respond-min(60em){
//       flex: 0 0 25%;
//       order: 0;
//       padding-left: 1em;
//   }
// }

.main-content--flex {
    flex: 0 0 100%;

    @include respond-min(60em){
      order: 2;
      flex: 0 0 100%;
  }
}