.sectionRequestInfo .grid {
  /* background-image: url('http://www.glamourmagazine.co.uk/static/img/pattern-1.jpg') ; */
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

}

.sectionRequestInfo .grid-cell {
  background: #fff;
  margin: 1em !important;
  /* padding: 1em; */
}

.form--request-info fieldset {
  font-family: $gotham;
  font-size: 1.2rem;
  line-height: 2em;
  /* color: #ddd; */

  @mixin respond-min $medium {
    /* font-size: 1rem; */
    line-height: 3em;
  }
}

.form--request-info__label {
  font-size: 1.2rem;
  display: inline;
  font-weight: 400;
  /* color: #ddd; */

  @mixin respond-min $medium {
    /* font-size: 1.5rem; */
  }
}

.form--request-info input {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  border: 0;
  /* min-width: 12em; */
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
  color: $bethel--yellow;
  text-align: center !important;

  @mixin respond-min $medium {
    font-size: 1.5rem;
  }
}

.form--request-info select {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background: transparent;
  color: $bethel--yellow;
  font-size: 1.2rem;
  height: 2.5em;
  -moz-appearance: none;
  -webkit-appearance: none;

  @mixin respond-min $medium {
    font-size: 1.5rem;
  }
}

.form--request-info #user_firstName,
.form--request-info #user_lastName {
  width: 5em;
}

.form--request-info #user_email {
  width: 12em;
}

.form--request-info__select {
  width: 13em;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $bethel--yellow;
  opacity: 1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $bethel--yellow;
  opacity: 1;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $bethel--yellow;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $bethel--yellow;
  opacity: 1;
}
