.section--find-program {
    /* background: url("../assets/images/book-shelf.jpg") no-repeat; */
    background-size: contain;
    background-position: 0 115%;
}

.form--find-program {
    font-family: $gotham;
}

.form--find-program fieldset {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1em;
}

.form--find-program label {
    font-size: .9rem;
    font-weight: 400;
}

.form--find-program input {
    margin-bottom: 0;
}

.form--filter-option {
    display: flex;
    align-items: baseline;
}

.form--filter-option input[type=checkbox]{
    width: 2em;
    height: 2em;
}

.form--find-program .search--program {
    padding: 1em;
    background: linear-gradient(150deg, $bethel--blue, 60%, $bethel--yellow);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: .5em;
    /* flex-direction: column; */

    @mixin respond-min $medium {
        padding: 1.5em;
    }
}

.form--find-program .search--program input {
    margin-bottom: .5em;
    padding: .5em;
    flex: 1;
    text-align: center;

    @mixin respond-min $medium {
        margin-right: 1em;
        font-size: 1.25rem;
        padding: 1em;
        /* flex: 1 0 0; */
        margin-bottom: 0;
    }
}