.search {
	width: 100%;
	margin-bottom: 2em;

	fieldset {
		width:100%;
		margin: 0 auto;
		padding: 0;
		border: 0;

		@mixin respond-min 50em {width: 50%;}
	}

	input {
		font-size: .8rem;
		margin:0;
		border:0;
		float: left;
		display:block;
		line-height: 2.887;
		height: 2.887em;

		@mixin respond-min 30em {
			font-size: 1rem;
		}
	}

	.search-input {
		border-radius: .3em 0 0 .3em;	
		box-shadow: #aaa inset 0 0 7px;
		width: 70%;
		padding: 9px 1em 8px;
		line-height: 1.602;
		border-left: 1px solid #999;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;

		&:focus {
			outline: 0;
		}
	}

	.search-go {
		width: 30%;
		border-radius: 0 .3em .3em 0;
		padding: 0;
	}
}