.events__item {
	margin: 2em 0;
	display: flex;
	align-items: flex-start;
}

.events__content {
	padding-left: 1em;

	p {
		margin-bottom: 0;
		margin-top: 0;
	}
}

.events__headline {
	font-weight: 500;
	font-family: $gotham;
}

.events__date-tile {
	font-family: $gotham;
	background: #fff;
	flex-basis: 5em;
	flex-shrink: 0;
	text-align: center;
	padding: .8em 1em;
	border: 1px solid #ccc;
	border-radius: .3em;
	font-size: .889em;
	/*min-width: 1px;*/
}

.events__date-tile span {
	/*display: block;*/
	font-size: 2.2em;
	line-height: 1;
}