.events__item {
	margin: 0 0 2em;
	display: flex;
	align-items: flex-start;
	padding-left: 1em;
} 

.events__headline {
	font-weight: 500;
	font-family: $gotham;
	margin-bottom: 0;
}

.events__location {
	color: rgba(0, 105, 170, 0.6);
	margin: 0;
	font-style: italic;
	display: None;
}

.events__description {
	margin-top: 0;
	color: #999;
}

.events__date-tile {
	font-family: $gotham;
	display: flex;
	min-width: 4em;
	flex-direction: column;
	margin-right: 3em;
	font-size: .889em;
	text-align: center;
}

.events__date-tile span {
	font-size: 3.2em;
	line-height: 1;
}