#map_canvas {
	height: auto;
	width: auto;
	min-height: 300px;
	min-width: 290px;
	margin: 2em 0;

	@mixin respond-min $medium {
		min-height: 350px;
	}

	@mixin respond-min $large {
		min-height: 400px;
	}

	@mixin respond-min $x-large{
		min-height: 500px;
	}
}

#map_select,
#loc_select,
#office_select,
#parking_select {
	margin-bottom: .25em;
}