.moving-picture {
	position: relative;
	margin-bottom: 8.9em;
	max-width: 125em;
	display: flex;

	@mixin respond-min 830px {
		 max-height: 75vh;
		/* overflow: hidden; */
	}
}

/* .moving-picture:before {
	@mixin respond-min 0 {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom,transparent 35%,#000);
        opacity: 1;
        z-index: 1; 
      }
 }

 .moving-picture.no-gradient:before {
 	background-image: none;
 } */

.moving-picture__media {
	height: 415px;
	/* display: flex;*/
	/* justify-content: center;*/

	@mixin respond-min 830px {
		/* position: relative;*/

		/* padding-bottom: 76%;*/
		height: auto;
		min-height: 200%;
	}
}

.moving-picture__media picture {
	width: auto;
	max-width: none;
	height: 415px;
	/* display: flex;*/
	/* justify-content: center;*/
	position: absolute;
	left: -100%;
	right: -100%;

	@mixin respond-min 830px {
		height: auto;
		position: relative;
		max-width: 100%;
		width: 100%;
		display: block;
		left: 0;
		right: 0;
	}
}

.moving-picture__media picture img {
	width: auto;
	max-width: none;
	height: 415px;
	/* flex-shrink: 0;*/

	margin: 0 auto;

	@mixin respond-min 830px {
		height: auto;
		position: relative;
		max-width: 100%;
		width: 100%;
	}
}

/* Overlay styles*/

.moving-picture__overlay {
	position: absolute;
	/* left: 2em; */
	/* bottom: 0; */

	// color: #555;
	font-family: $gotham;
	/* z-index: 1; */
	// padding: 2em;
	// text-align: center;
	// background: rgba(100,100,100,.4);
	/* overflow: visible; */
	/* display: inline; */

	@mixin respond-min $medium {
		// position: absolute;
		left: 15%;
		/* bottom: -200px; */
		
		width: 40%;
		// padding: 3em;
		/* box-shadow: 1px 5px 20px #777; */
		align-self: center;
		text-shadow: 0px 1px 1px #333;
	}

	@mixin respond-min $x-large{
	}
}

.moving-picture__overlay__headline {
	font-size: 2.2rem;
	/* margin: 0;*/
	font-weight: 500;
	/* letter-spacing: .02em; */
	margin-bottom: 0;
	margin-top: 0;
	color: white;
	line-height: 1.1;

	@mixin respond-min $medium {
		font-size: 2.4rem;
	}

	@mixin respond-min $x-large{
		font-size: 6rem;
	}
}

.moving-picture__overlay__teaser {
	display: none;
	/* margin-top: .75em; */
	/* color: $bethel--yellow; */

	@mixin respond-min $large {
		/* display: block; */
		font-size: 1rem;
	}
}

.moving-picture__overlay__button {
	background-color: $bethel--blue;
	padding: .75em 1em;
	border-radius: .3em;
	font-size: 1rem;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .02em;
	margin-top: 0;
	display: inline-block;

	@mixin respond-min $medium {
		margin-top: .5em;
	}
}

/* centered version */

.moving-picture__overlay--center {
/* 	position: absolute;
	left: 0;
	bottom: 0; */
	color: #fff;
	font-family: $gotham;
	z-index: 20;
	padding: 1em 2.5em;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%; 
	transform: translate(-50%, -50%);

	@mixin respond-min $medium {
		width: 75%;
		padding: 2% 8%;
	}
}

.moving-picture__overlay--center::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(24, 25, 34, 0.5);
}