.news {}

.news__item {
	margin: 0 0 2.5em;
	display: flex;
}

.news__image {
	flex-basis: 40%;
	min-width: 1px;
}

.news__date {
	opacity: .5;
	color: $bethel--blue;
	text-transform: uppercase;
}

.news__content {
	padding-left: 1em;
	flex-basis: 60%;
	min-width: 1px;

	@mixin respond-min $medium {
		padding-left: 1.5em;
	}

	p {
		margin-bottom: .25em;
		margin-top: 0;
		line-height: 1.2;
	
		@mixin respond-min $large {
			line-height: 1.4;
		}
	}

	.news__headline {
		font-weight: 500;
		font-family: $gotham;
	}
}