
@mixin respond-min $medium {
	.news__item {
		display: flex;
	}

	.news__image {
		flex-basis: 30%;
		min-width: 1px;
	}

	.news__content {
		padding-left: 1em;
		flex-basis: 60%;
		min-width: 1px;
	}
}

/* Using grid layout to override the above css. 
Remove the above when IE11 is no longer supported */

.news__item {
	margin: 3em 0;
	display: grid;
	grid-template-columns: 1fr;

	@mixin respond-min $medium {
		display: grid;
		grid-template-columns: minmax(100px, 1fr) minmax(auto, 2fr);
		grid-gap: .75em;
	}
}

.news__content {
	margin-top: 1em;

	@mixin respond-min $medium {
		margin-top: 0;
	}
}

.news__date {
	font-size: .8rem;
	color: #aaa;
}