
.linkBlock {
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.linkBlock li a {
	color: #fff;
	background: rgba(0,0,0,.3);
	display: block;
	width: 100%;
	padding: .5em 1em;
	margin-bottom: 4px;
}


.section--home__academics {
	/* background: url("https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://www.bethel.edu/_homepages/www/images/chemistry-lab.jpg");*/
	background-size: cover;
	background-position: center;
}

.section--home__faith {
	/* background: url("https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://www.bethel.edu/_homepages/www/images/girl-laughing.jpg");*/
	background-size: cover;
	background-position: center;
}

.section--home__community {
	/* background: url("https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://www.bethel.edu/_homepages/www/images/group-laughing.jpg");*/
	background-size: cover;
	background-position: 20% !important;
}

.section--home__story {
	/* background-color: #000;*/

	.grid-cell {
		margin: 0 auto !important;
		/* text-align: center;*/
	}

	.rotate-text__holder {
		color: $bethel--yellow;
		font-weight: 400;
		font-size: 1.5rem;
	}

	h3 {
		font-weight: 400;
		font-size: 1.35rem;
		/* color: $bethel--yellow;*/
	}
}

.section--home__online {
	background: url("https://cdn1.bethel.edu/resize/unsafe/1600x0/smart/https://www.bethel.edu/_homepages/online/images/study-online.jpg");
	background-size: cover;
	background-position: right center;	
}