

.overFeat {
	position: relative;
	z-index: 1000;
	background: #f1f1f1;
}

.overFeat .grid {
	@mixin respond-min $large {
		margin-bottom: -5em;
	}
}

.overFeat .grid-cell {
	position: relative;

	@mixin respond-min $large {
		transform: translateY(-5em);
	}
}

.overFeat img {
	border: .5em solid #fff;
}

.overFeat h3 {
	position: absolute;
	bottom: 1em;
	left: 1.2em;
	padding-right: 1em;
	text-shadow: 1px 1px 1px #333;
}
