.section--apply {
	background-color: #fff; /* need bkg color here, if words break on two lines it creates different heights */
	max-width: 75em;
	margin: 0 auto;

	@mixin respond-min $large {
		padding: 0 2em;
		background: none;
	}

	@mixin respond-min $x-large {
		padding: 0 3em;
	}
}


.section--apply .inner {
	padding: 0;
}

.section--apply__unit {

	background-color: #fff;

	a {
		padding: 1.5em 1em 1em;
		display: block;

		@mixin respond-min $medium {
			padding-bottom: 2.5em 1em 2em;
		}

		@mixin respond-min $large {
			padding: 2.5em 1em 2em;
		}
	}

	a:hover {
		background: #f9f9f9;
	}
}

	svg {
		width:2.5em;
		height:2.5em;
		fill:#0069aa;
		margin-bottom:1em;

		@mixin respond-min $medium {
			width: 3em;
			height: 3em;
		}
	}