.stickyBar {
	/* position: sticky; */
	/* display: flex; */
	/* padding: 1em; */
	top: 0;
	/* background: $bethel--blue; */
	z-index: 1000;
	justify-content: space-around;
	/* font-family: $gotham; */

	@mixin respond-min 830px {
		/* font-size: 1.2rem; */
		/* margin-top: -86px; */
	}
}

.stickyBar .grid-cell {
	background: #f6f9fa;
	border: 1px solid #0069aa;
	border-radius: 4px;
	margin-top: 3em;
	/* background: #fff; */
	/* box-shadow: 0px 0px 20px #bbb; */
}

.stickyBar span {
	/* display: flex; */
	/* /* padding: 1em; */
	/* margin: -2em 0; */ */
	/* background: #1584c9; */
	/* display: flex; */
	/* align-items: center; */
	border-radius: 5px;
}

.stickyBar svg {
	width: 100px;
	height: 100px;
	fill: $bethel--blue;
	display: block;
	margin: -3.5em auto 1em;
	padding: 1em;
	border: 1px solid #0069aa;
	background: white;
	border-radius: 50%;
}

.stickyBar a {
	padding: .5em 1em;
	border-radius: 4px;
	/* color: #fff; */
	/* font-weight: 400; */
	/* font-size: 120%; */
}

.stickyBar p {
	/* font-size: 80%; */
}

.stickyBar a:hover {
	text-decoration: none;
}

.stickyBar .active {
	background: $bethel--yellow;
	/* background: url('http://www.glamourmagazine.co.uk/static/img/pattern-1.jpg'); */
	background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffc600' fill-opacity='.9' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	
}